@using Inforoom2.Models
@model dynamic
@{
	ViewBag.Title = "Загрузка платежей";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<BankPayment> bankPaymentsList = ViewBag.Payments??new List<BankPayment>();
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	<div class="panel-body">
		<div class="col-md-10">
			@using (@Html.BeginForm("PaymentProcess", "Payments", FormMethod.Post, new { @class = "form-horizontal form-groups-bordered", EncType = "multipart/form-data" }))
			{

			<div class="form-group fileUploadPathWrapper"> 
					<input id="uploadFile" class="fileUploadPath" placeholder="Выберете файл для загрузки в формате xml / txt" disabled="disabled" />
					<div class="fileUpload btn btn-gold">
						<span>Файл</span>
						<input type="file" id="uploadedFile" name="uploadedFile" class="upload" />
						<script>
							document.getElementById("uploadedFile").onchange = function () {
								document.getElementById("uploadFile").value = this.value;
							};
						</script>
					</div>  
						<button class="btn btn-blue" type="submit">Загрузить</button> 
			</div> 
			}
		</div>
	</div>
	<div class="panel-body">
		<div class="col-sm-2">
			<div class="form-group">
				@using (@Html.BeginForm("SavePayments", "Payments", FormMethod.Post, new {@class = "form-horizontal form-groups-bordered", EncType = "multipart/form-data"})) {
					     <button class="btn btn-green" name="paymentsAdd" type="submit">Сохранить</button>
				     }
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				@using (@Html.BeginForm("CancelPayments", "Payments", FormMethod.Post, new { @class = "form-horizontal form-groups-bordered", EncType = "multipart/form-data" })) {
					<button class="btn btn-red" name="paymentsClean" type="submit">Очистить</button>
				}
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<a class="btn btn-blue" onclick="location.href = '@Url.Action("PaymentList", "Payments")'">Банковские выписки</a>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<strong>всего @bankPaymentsList.Count платежей</strong>
	</div>

		<div class="panel-body">
			<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
				<thead>
					<tr role="row">
						<th tabindex="0" aria-controls="table-2">
							<span>Получатель</span>

						</th>
						<th tabindex="0" aria-controls="table-2">
							<span>Дата платежа</span>
						</th>
						<th tabindex="0" aria-controls="table-2">
							<span>Плательщик</span>
						</th>
						<th>
							<span>Сумма</span>
						</th>
						<th>
							<span>Дата внесения платежа</span>
						</th>
						<th>
							<span class="black">Действия</span>
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in bankPaymentsList)
			{
					<tr>
						<td>@item.Recipient.Name</td>
						<td>@item.PayedOn.ToShortDateString()</td>
						<td>
							@if (item.Payer != null)
							{
							<a target="_blank" href="@Url.Action(item.Payer.PhysicalClient != null ? "InfoPhysical" : "InfoLegal", "Client", new {item.Payer.Id})" class="idColumn @(item.Payer.PhysicalClient != null ? "linkPhysical" : "linkLegal")">
								@item.Payer.Name
							</a>
							}
							else
							{
							<strong>не опознан</strong>
							}
						</td>
						<td>@item.Sum</td>
						<td>@(item.RegistredOn )</td>
						<td>@item.Comment</td>
						<td>
							<a href="@Url.Action("EditTemp", new {@id = item.GetHashCode()})" target="_blank" class="btn btn-green">редактировать</a>

							<a href="@Url.Action("DeleteTemp", new {@id = item.GetHashCode()})" class="btn btn-red">удалить</a>
						</td>
					</tr>
			}
				</tbody>
			</table>
		</div>
	</div>