@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@using NPOI.SS.Formula.Functions
@model dynamic

@{
	ViewBag.Title = "Редактирование скорости";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ValidationRunner runner = ViewBag.Validation;
	var packageSpeed = (PackageSpeed)ViewBag.PackageSpeed;
}
<div class="panel panel-primary">
	<div class="panel-body">
		<div class="col-md-6">
			@using (@Html.BeginForm("EditPackageSpeed", "Plans", null, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" })) {
				@Html.HiddenFor(i => packageSpeed.Id)
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Скорость (мегабиты)</label>
					</div>
					<div class="col-sm-8">
						@Html.ValidationEditor(runner, packageSpeed, "Speed", new { @class = "form-control " }, HtmlTag.input, HtmlType.none)
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Описание</label>
					</div>
					<div class="col-sm-8">
						@Html.ValidationEditor(runner, packageSpeed, "Description", new { @class = "form-control " }, HtmlTag.input, HtmlType.none)   
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">PackageId</label>
					</div>
					<div class="col-sm-8">
						@packageSpeed.PackageId
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<button class="btn btn-green" type="submit">Редактировать</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<div class="form-group">
</div>
<button class="btn btn-blue" onclick=" location.href = '@Url.Action("PackageSpeedList", "Plans")' ">Назад</button>