@using Inforoom2.Components 
@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "Список правил смены тарифа услугой Internet";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ModelFilter<PlanChangerData> pager = ViewBag.Pager;
	IList<PlanChangerData> changerData = pager.GetItems();
}
<div class="form-group">
	<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreateInternetPlanChanger")">
		<i class="entypo-plus"></i>
		Добавить
	</a>
</div>
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
			<tr role="row"> 
				<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.Id)">Номер</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.TargetPlan)">Целевой тариф</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.CheapPlan)">Дешевый тариф</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.FastPlan)">Быстрый тариф</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.Timeout)">Таймер (дн.)</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2">HTML</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">Действия</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var changer in changerData) {
				<tr role="row" class="odd"> 
					<td><a href="@Url.Action("EditInternetPlanChanger", "Plans", new { id = changer.Id })">@changer.Id</a></td>
					<td>@(changer.TargetPlan.Name + " (" + changer.TargetPlan.Price + " руб.)")</td>
					<td>@(changer.CheapPlan.Name + " (" + changer.CheapPlan.Price+ " руб.)")</td>
					<td>@(changer.FastPlan.Name + " (" + changer.FastPlan.Price + " руб.)")</td>
					<td>@changer.Timeout</td>
					<td>@(changer.Text != null ? (changer.Text.Length > 100 ? changer.Text.Substring(0, 100) + "..." : changer.Text) : "")</td>
					<td>
						<a class="btn btn-green btn-sm btn-icon icon-left" href="@Url.Action("EditInternetPlanChanger", new { @id = @changer.Id })">
							<i class="entypo-cancel-circled"></i>
							Редактировать
						</a> 
						<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeleteInternetPlanChanger", new { @id = @changer.Id })">
							<i class="entypo-cancel-circled"></i>
							Удалить
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>
