@using Inforoom2.Helpers
@using Inforoom2.Models

@{
    ViewBag.Title = "Редактирование группы";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Employee> employeeList = (List<Employee>)ViewBag.EmployeeList;
    EmployeeGroup currentGroup = (EmployeeGroup) ViewBag.CurrentGroup;
    Employee currentEmployee = new Employee();
    ViewBag.Title = "Группа сотрудников '" + currentGroup.Name + "'";
}


<div class="panel panel-primary col-md-12">
    <div class="panel-body">
        @using (@Html.BeginForm("GroupEdit", "EmployeeGroup", null, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" }))
        {
        <h3>Редактирование группы</h3>
        <input name="id" type="hidden" value="@currentGroup.Id">
        <div class="form-group">
            <label class="col-sm-2 control-label">Наименование</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(I => currentGroup.Name, new { @class = "form-control", @Name = "name" })
            </div>
            <div class="col-sm-2">
               <button class="btn btn-green" type="submit" value="Изменить">Изменить</button>
            </div>
        </div>
        }
        @using (@Html.BeginForm("EmployeeToGroupAdd", "EmployeeGroup", null, FormMethod.Post, new {@class = "form-horizontal form-groups-bordered"})) {
            <h3>Добавление участников</h3>
            <input name="groupId" type="hidden" value="@currentGroup.Id">
            <div class="form-group">
                <label class="col-sm-2 control-label">Соотрудник</label>
                <div class="col-sm-4">
                    @Html.DropDownListExtendedFor(i => currentEmployee.Id, employeeList, obj => obj.Name, null, new {@class = "form-control", @Name = "employeeId" }, firstEmptyElementAdd:true)
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-green" type="submit" value="Добавить">Добавить</button>
                </div>
            </div>
        }
        <div class="form-group">
                <a class="btn btn-blue" href="@Url.Action("Index", "EmployeeGroup")">Список групп</a>
        </div>
    </div>
</div>

<div class="panel panel-primary col-md-12">
    <div class="panel-body">
        <div class="form-group">
            <table class="table table-bordered table-striped datatable no-footer">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>ФИО</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var employeeItem in currentGroup.EmployeeList) {
                    <tr>
                        <td>
                            <span>@employeeItem.Id</span>
                        </td>
                        <td>
                            <a href="@Url.Action("EditEmployee", "Admin", new {id = employeeItem.Id})">@employeeItem.Name</a>
                        </td>
                        <td>
                            <a class="btn btn-red" title="удалить" onclick="submit('Вы действительно хотите удалить из руппы <strong>@(currentGroup.Name)</strong><br/> сотрудника <strong>@(employeeItem.Name)</strong> ?')"
                               href="@Url.Action("EmployeeToGroupDelete", new {@groupId = currentGroup.Id, @employeeId = employeeItem.Id})">
                                удалить
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>