@using Inforoom2.Models

@{
	IList <Plan> plans = ViewBag.Plans;
}

<h2>Управление тарифами</h2>
@{ Html.RenderPartial("AdminPanel");  }
<span><button class="CreatePlan" onclick=" location.href = '@Url.Action("EditPlan", "AdminPlan")' ">Создать тариф</button></span>

<div class="AdminPlan">
	<table class="AdminPlanTable">
		<tr>
			<td>
				<div>Название</div>
			</td>
			<td>
				<div>Скорость</div>
			</td>
				<td>
				<div>Цена</div>
			</td>
			<td>
				<div>Служебный</div>
			</td>
			<td>
				<div>Архивный</div>
			</td>
			
		</tr>
		@foreach (var plan in plans) {
			<tr>
				<td>
					@Html.HiddenFor(modelItem => plan.Id)
					@Html.DisplayFor(modelItem => plan.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => plan.Speed)
				</td>
				<td>
					@Html.DisplayFor(modelItem => plan.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => plan.IsServicePlan)
				</td>
				<td>
					@Html.DisplayFor(modelItem => plan.IsArchived)
				</td>
				
				<td>
					@using(Html.BeginForm("DeletePlan","AdminPlan", FormMethod.Post))
					{
						@Html.HiddenFor(modelItem => plan.Id)
						<input class="DeletePlan" type="submit" value="Удалить тариф"/>
					}

					<span><button class="ViewAddress" onclick=" location.href = '@Url.Action("EditPlan", "AdminPlan", new { planId = plan.Id })' ">Просмотр</button></span>
					
				</td>
			</tr>
		}
	</table>
</div>