@using Common.Tools
@using Inforoom2.Models
@using Inforoom2.Models.Services

@model dynamic
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/ServiceController.js?v=1")"></script>}
@{
	ViewBag.Title = "Личный кабинет: Добровольная блокировка";
	Client client = ViewBag.Client;
	BlockAccountService service = ViewBag.BlockAccountService;
	var nowDate = SystemTime.Now();
	var blockingEndDate = nowDate.Date.AddDays(7).Date.AddMinutes(-1).ToString("dd.MM.yyyy HH:mm");
	///	var blockingEndDate = nowDate.AddDays(client.FreeBlockDays > 0 ? client.FreeBlockDays : 1).ToShortDateString();
	var blockService = client.ClientServices.FirstOrDefault(c => c.Service.GetType() == typeof (BlockAccountService)) ?? new ClientService();
	var weeksCount = ViewBag.WeeksCount??1;

}

<h2 class="heading"> @ViewBag.Title </h2>
@{ Html.RenderPartial("Menu"); }
<div class="right-block">

	@if (client.CanUseService(service)) {
		<p class="font">
		    В течении года Вам предоставляется 28 дней бесплатного использования данной услуги.<br/>
            В день активации абонентская плата списывается за последние сутки.<br />
			По истечении этого времени абонентская плата составляет 3 руб/день, а стоимость активации равна 50 руб.<br/>
			Блокировка выставляется в неделях.
		</p>
		<p> Количество бесплатных дней: @client.FreeBlockDays </p>

		using (@Html.BeginForm("ActivateAccountBlocking", "Service", FormMethod.Post)) {
			@Html.HiddenFor(modelItem => service.Id)
			<p>
				<input type="hidden" id ="blockingEndDate" name="blockingEndDate" value="@(blockingEndDate):00"/>
				Заблокировать на @Html.TextBoxFor(modelItem => weeksCount, null, new {@id= "weeksCount", @type = "number", @class = "personal", @step="1", @Style = "width: 100px;", @Name = "", min= "1", @onchange = "getMonth(this)" }) нед., до <span id="dateInWeeks" class="red-font">@blockingEndDate</span>
				<input id="ConnectBtn" class="button" type="submit" value="Подключить"/>
			</p>
		}
		if (client.YearCycleDate != null) {
			if (client.FreeBlockDays > 0) {
				<p>
					Ваши бесплатные дни доступны в период с
					@nowDate.Date.ToShortDateString() по
					@client.YearCycleDate.Value.AddYears(1).AddDays(-1).ToShortDateString()
				</p>
			}
			else {
				<p>
					Ваши 28 бесплатных дней станут доступны с
					@client.YearCycleDate.Value.AddYears(1).ToShortDateString()
				</p>
			}
		}
	} else if (client.HasActiveService(service)) {
	    <p>Услуга активирована до @blockService.EndDate</p>
	    using (@Html.BeginForm("DeactivateAccountBlocking", "Service", null, FormMethod.Post)) {
	        @Html.HiddenFor(modelItem => service.Id)
	        <input id="DisconnectBtn" class="button" type="submit" value="Отключить"/>
	    }


		<p>Доступно @client.FreeBlockDays бесплатных дней.</p>
		if (client.YearCycleDate != null) {
			if (client.FreeBlockDays > 0) {
				<p>
					Ваши бесплатные дни доступны в период с
					@nowDate.Date.ToShortDateString() по
					@client.YearCycleDate.Value.AddYears(1).AddDays(-1).ToShortDateString()
				</p>
			}
			else {
				<p>
					Ваши 28 бесплатных дней станут доступны с
					@client.YearCycleDate.Value.AddYears(1).ToShortDateString()
				</p>
			}
		}
	}

</div>