@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "Назначение заявки в график";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/ConnectionTeamController.ConnectionTable.js")"></script>}
@model dynamic

@{
	ViewBag.Title = "Сервисная заявка";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<ServiceMan> servicemen = ViewBag.Servicemen;
	ClientRequest ClientRequest = ViewBag.ClientRequest;
	ValidationRunner runner = ViewBag.Validation;
	string action = ViewBag.ActionName;
	string controller = ViewBag.ControllerName;
}

<div class="panel panel-primary col-md-6">
	<div class="panel-body">
		@using (@Html.BeginForm(action, controller, new { requestId = ClientRequest.Id }, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" }))
		{
			 @Html.HiddenFor(i=>ClientRequest.Id, new { @class = "form-control" })
			<div class="form-group">
				<label class="col-sm-2 control-label">Имя заявителя</label>
				<div class="col-sm-4">
					@Html.DisplayFor(i=>ClientRequest.ApplicantName, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Адрес</label>
				<div class="col-sm-4">
					@Html.DisplayFor(i=>ClientRequest.Address.FullAddress, new { @class = "form-control" })
				</div>
			</div>
	  		<div class="form-group">
				<label class="col-sm-2 control-label">Исполнитель</label>
				<div class="col-sm-4">
						@Html.DropDownListExtendedFor(i => ClientRequest.ServiceMan,servicemen, obj => obj.Employee.Name,i=>i.Id, new { @class = "form-control", disabled = "disabled" },ClientRequest.ServiceMan  != null ? ClientRequest.ServiceMan.Id : 0)
						@ViewBag.Validation.GetError(ClientRequest, "ServiceMan", "Поле не может быть пустым")
				</div>
				
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Время выполнения</label>
				<div class="col-sm-4">
					@Html.ValidationEditor(runner, ClientRequest, "BeginTime", new {disabled = "disabled"}, HtmlTag.datetime, HtmlType.none)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Длительность выполнения (мин)</label>
				<div class="col-sm-4">
					<div class="input-spinner">
						<button class="btn btn-default" type="button">-</button>
						<input type="text" name="duration" value="60" class="form-control size-1">
						<button class="btn btn-default" type="button">+</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-green" type="submit">Назначить в график</button>
			</div>
		}
	</div>
</div>
@{ Html.RenderPartial("ConnectionTable");  }
