@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "Сервисные инженеры";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Employee> employees = ViewBag.Employees;
	List<ServiceMan> team = ViewBag.Team;
	List<Region> regions = ViewBag.Regions;
	ServiceMan ServiceMan = ViewBag.ServiceMan;
	string action = ViewBag.ActionName;
	string controller = ViewBag.ControllerName;
}
<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (@Html.BeginForm(action, controller, null, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" }))
		{
			<div class="form-group">
				<label class="col-sm-2 control-label">Соотрудник</label>
				<div class="col-sm-4">
					@Html.DropDownListExtendedFor(i => ServiceMan.Employee, employees, obj => obj.Name, null, new { @class = "form-control" })
					@ViewBag.Validation.GetError(ServiceMan, "Employee", "Поле не может быть пустым")
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Регион</label>
				<div class="col-sm-4">
					@Html.DropDownListExtendedFor(i => ServiceMan.Region, regions, obj => obj.Name, null, new { @class = "form-control" })
					@ViewBag.Validation.GetError(ServiceMan, "Region", "Поле не может быть пустым")
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-green" type="submit">Добавить</button>
			</div>
		}
	</div>
</div>
<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		<div class="form-group"> 
			@{
			var lastRegionId = 0;
			}
			@foreach (var serviceMan in team)
			{
				if (lastRegionId != serviceMan.Region.Id)
				{
					lastRegionId = serviceMan.Region.Id;
					<h3>@serviceMan.Region.Name </h3>
				}
				<div>@serviceMan.Employee.Name </div>
			}
		</div>
	</div>
</div>

