@using System.Activities.Expressions
@using System.Activities.Statements
@using Inforoom2.Models
@{
	ViewBag.Title = "Неподключенные клиенты";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Client> Clients = ViewBag.Clients;
}

<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
	<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2" >#</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Имя</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Адрес</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Дата</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Назначен</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Действия</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Clients)
  {
			<tr role="row" class="odd">
				<td>@item.Id</td>
				<td>@item.Fullname</td>
				<td>@item.GetAddress()</td>
				<td>@item.CreationDate</td>
				<td>@(item.ConnectionRequest != null ? item.ConnectionRequest.ServiceMan.Employee.Name : "Не назначен")</td>
				<td>
					<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("AttachClient","ConnectionTeam",new {id = item.Id})">
							<i class="entypo-plus-circled"></i>
							Назначить в график
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
	</div>