@using Inforoom2.Models

@{
	ViewBag.Title = "AdminRegion";
	
	IList<Region> regions = ViewBag.Regions;
}

<h2>AdminRegion</h2>
@{ Html.RenderPartial("AdminPanel");  }
<span><button class="CreateAddress" onclick=" location.href = '@Url.Action("EditRegion", "AdminAddress")' ">Создать регион</button></span>

<div class="AdminAddress">
	<table class="AdminAddressTable">
		<tr>
			<td>
				<div>Название</div>
			</td>
			<td>
				<div>Город</div>
			</td>
		</tr>
		@foreach (var item in regions) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
			
				<td>
					@Html.DisplayFor(modelItem => item.City.Name)
				</td>
				<td>
					<span><button class="ViewAddress" onclick=" location.href = '@Url.Action("EditRegion", "AdminAddress", new { regionId = item.Id })' ">Просмотр</button></span>
					<span><button class="DeleteAddress" onclick=" location.href = '@Url.Action("DeleteRegion", "AdminAddress", new { regionId = item.Id })' ">Удалить</button></span>
				</td>
			</tr>
		}
	</table>
</div>