@using System.Activities.Expressions
@using Inforoom2.Models

@{
	ViewBag.Title = "AdminSwitchAddress";

	IList<SwitchAddress> switchAddresses = ViewBag.SwitchAddresses;
}

<h2>AdminAddress</h2>

<span><button class="CreateAddress" onclick=" location.href = '@Url.Action("EditSwitchAddress", "AdminAddress")' ">Создать адрес</button></span>
<span><button class="CreateAddress" onclick=" location.href = '@Url.Action("EditPrivateSwitchAddress", "AdminAddress")' ">Создать адрес в частном секторе</button></span>

<div class="AdminAddress">
	<table class="AdminAddressTable">
		<tr>
			<td>
				<div>Свитч</div>
			</td>
			<td>
				<div>Регион</div>
			</td>
			<td>
				<div>Улица</div>
			</td>
			<td>
				<div>Дом</div>
			</td>
			<td>
				<div>Дом (от)</div>
			</td>
			<td>
				<div>Дом (до)</div>
			</td>
			<td>
				<div>Сторона</div>
			</td>
			<td>
				<div>Подъезд</div>
			</td>
			<td>
				<div>Квартира</div>
			</td>
			<td>
				<div>Этаж</div>
			</td>
			<td>
				<div>Частный сектор</div>
			</td>
			
		</tr>
		@foreach (var item in switchAddresses) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Switch.Name)
				</td>
				<td>
					@(item.IsPrivateSector ? Html.DisplayFor(modelItem => item.Street.Region.Name) : Html.DisplayFor(modelItem => item.House.Street.Region.Name))
					
				</td>
				<td>
					@(item.IsPrivateSector ? Html.DisplayFor(modelItem => item.Street.Name) : Html.DisplayFor(modelItem => item.House.Street.Name))
				</td>
				<td>
					@(item.IsPrivateSector ? new MvcHtmlString("N/A") : Html.DisplayFor(modelItem => item.House.FullName))
				</td>
				<td>
					@(item.IsPrivateSector ? @Html.DisplayFor(modelItem => item.Start) : new MvcHtmlString("N/A"))
					
				</td>
				<td>
					@(item.IsPrivateSector ? @Html.DisplayFor(modelItem => item.End) : new MvcHtmlString("N/A"))
				</td>
				<td>
					@(item.IsPrivateSector ? @Html.DisplayFor(modelItem => item.Side) : new MvcHtmlString("N/A"))
				</td>
				<td>
					@(item.IsPrivateSector ? new MvcHtmlString("N/A") : Html.DisplayFor(modelItem => item.Entrance))
				</td>
				<td>
					@(item.IsPrivateSector ? new MvcHtmlString("N/A") : Html.DisplayFor(modelItem => item.Apartment))
				</td>
				<td>
					@(item.IsPrivateSector ? new MvcHtmlString("N/A") : Html.DisplayFor(modelItem => item.Floor))
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsPrivateSector)
				</td>
				<td>
					@if (item.IsPrivateSector) {
						<span><button class="ViewAddress" onclick=" location.href = '@Url.Action("EditPrivateSwitchAddress", "AdminAddress", new {switchAddressId = item.Id})' ">Просмотр</button></span>
					}
					else {
						<span><button class="ViewAddress" onclick=" location.href = '@Url.Action("EditSwitchAddress", "AdminAddress", new {switchAddressId = item.Id})' ">Просмотр</button></span>
					}
					<span><button class="DeleteAddress" onclick=" location.href = '@Url.Action("DeleteSwitchAddress", "AdminAddress", new {switchAddressId = item.Id})' ">Удалить</button></span>
				</td>
			</tr>
		}
	</table>
</div>