@using System.Activities.Expressions
@using Inforoom2.Models

@{
	ViewBag.Title = "AdminAddress";

	IList<Address> addresses = ViewBag.Addresses;
}

<h2>AdminAddress</h2>

<span><button class="CreateAddress" onclick=" location.href = '@Url.Action("EditAddress", "AdminAddress")' ">Создать адрес</button></span>

<div class="AdminAddress">
	<table class="AdminAddressTable">
		<tr>
			<td>
				<div>Дом</div>
			</td>
			<td>
				<div>Регион</div>
			</td>
				<td>
				<div>Улица</div>
			</td>
			<td>
				<div>Подъезд</div>
			</td>
			<td>
				<div>Квартира</div>
			</td>
			<td>
				<div>Этаж</div>
			</td>
			
		</tr>
		@foreach (var item in addresses) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.House.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.House.Street.Region.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.House.Street.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Entrance)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apartment)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Floor)
				</td>
				
				<td>
					<span><button class="ViewAddress" onclick=" location.href = '@Url.Action("EditAddress", "AdminAddress", new { addressId = item.Id })' ">Просмотр</button></span>
					<span><button class="DeleteAddress" onclick=" location.href = '@Url.Action("DeleteAddress", "AdminAddress", new { addressId = item.Id })' ">Удалить</button></span>
				</td>
			</tr>
		}
	</table>
</div>