@using Inforoom2.Models
@{
	City city = ViewBag.City;
}

<div style="width: 1000px; height: 200px; margin: 0px auto; border: 1px gainsboro solid">
	<div class="UpdateAddress" >
		@using (@Html.BeginForm("UpdateCity", "AdminAddress", FormMethod.Post)) {
			<div>
				@Html.HiddenFor(model=>city.Id)
				<span >Название</span>
				@Html.TextBoxFor(model => city.Name)
				@ViewBag.Validation.GetError(city, "Name", "Название не может быть пустым")
			</div>
			<input type="submit"  value="Принять изменения"/>
		}
		<button class="BackButton" onclick=" location.href = '@Url.Action("AdminAddressIndex", "AdminAddress")' ">Назад</button>
	</div>
</div>