@using System.Collections
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	Region region = ViewBag.Region;
	IList<Plan> allPlans = ViewBag.Plans;
}
	

<div style="width: 1000px;  margin: 0px auto; border: 1px gainsboro solid">
	<div class="UpdateAddress" >
		@using (@Html.BeginForm("UpdateRegion", "AdminAddress", FormMethod.Post)) {
			<div>
				@Html.HiddenFor(model => region.Id)
				@Html.HiddenFor(model => region.Plans)
				<div >Название</div>
				@Html.TextBoxFor(model => region.Name)
				@ViewBag.Validation.GetError(region, "Name", "Название не может быть пустым")
			</div>
			<div>
				<div>Город</div>
				@Html.DropDownListExtendedFor(k => region.City, ViewBag.CitiesList as List<City>, k=>k.Name, region.City.Id )
			</div>
			<div>
				<div>Тарифы</div>
				@foreach (var plan in allPlans) {
					bool isChecked = false;
					foreach (var regPlan in region.Plans.Where(regPlan => regPlan.Id == plan.Id)) {
						isChecked = true;
					}
					<div>
						@Html.Label(plan.Name)
						<input id="@plan.Id" name="checkedPlans"  value="@plan.Id" checked="@isChecked"  type="checkbox" />
					</div>
				}
			
			</div>
			<input type="submit"  value="Принять изменения"/>
		}
		<button class="BackButton" onclick=" location.href = '@Url.Action("AdminAddressRegion", "AdminAddress")' ">Назад</button>
	</div>
</div>