@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/AdminAddressController.js")"></script>}
@using System.Activities.Statements
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	SwitchAddress switchAddress = ViewBag.SwitchAddress;
}
<div style="width: 1000px; margin: 0px auto; border: 1px gainsboro solid">
	<div class="UpdateAddress" >
		@using (@Html.BeginForm("UpdateSwitchAddress", "AdminAddress", FormMethod.Post)) {
			@Html.HiddenFor(model => switchAddress.Id)

			<div>
				<span >Свитч</span>
				@Html.DropDownListExtendedFor(k => switchAddress.Switch, ViewBag.Switches as List<Switch>, obj => obj.Name, @switch => new {@class = "switch" + @switch.Id}, null, switchAddress.Switch.Id)
				@ViewBag.Validation.GetError(switchAddress, "Switch", "Поле не может быть пустым")
			</div>
			<div>
				<span >Регион</span>
				@Html.DropDownListExtendedFor(k => switchAddress.House.Street.Region, ViewBag.Regions as List<Region>, obj => obj.Name, region => new {@class = "region" + region.Id}, null, switchAddress.House.Street.Region.Id)
				@ViewBag.Validation.GetError(switchAddress, "House.Street.Region", "Поле не может быть пустым")
			</div>
			<div>
				<span>Улица</span>
				@Html.DropDownListExtendedFor(k => switchAddress.House.Street, ViewBag.Streets as List<Street>, obj => obj.Name, street => new {@class = "region" + street.Region.Id + " " + "street" + street.Id}, null, switchAddress.House.Street.Id)
				@ViewBag.Validation.GetError(switchAddress.House, "House.Street", "Поле не может быть пустым")
			</div>
			<div>
				<div>Дом</div>
				@Html.DropDownListExtendedFor(k => switchAddress.House, ViewBag.Houses as List<House>, obj => obj.FullName, house => new {@class = "street" + house.Street.Id}, null, switchAddress.House.Id)
				@ViewBag.Validation.GetError(switchAddress.House, "House.FullName", "Поле не может быть пустым")
			</div>
			<div>
				<div>Подъезд</div>
				@Html.TextBoxFor(k => switchAddress.Apartment)
				@ViewBag.Validation.GetError(switchAddress, "Apartment", "Значение не может быть пустым")
			</div>
			<div>
				<div>Этаж</div>
				@Html.TextBoxFor(k => switchAddress.Floor)
				@ViewBag.Validation.GetError(switchAddress, "Floor", "Значение не может быть пустым")
			</div>

			<input type="submit"  value="Принять изменения"/>
		}
		<button class="BackButton" onclick=" location.href = '@Url.Action("AdminAddressSwitchAddress", "AdminAddress")' ">Назад</button>
	
	</div>
</div>