@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/AdminAddressController.js")"></script>}
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	Address address = ViewBag.Address;
}
<div style="width: 1000px; height: 200px; margin: 0px auto; border: 1px gainsboro solid">
	<div class="UpdateAddress" >
		@using (@Html.BeginForm("UpdateAddress", "AdminAddress", FormMethod.Post)) {
			@Html.HiddenFor(model => address.Id)
			<div>
				<span >Регион</span>
				@Html.DropDownListExtendedFor(k => address.House.Street.Region, ViewBag.Regions as List<Region>, obj => obj.Name, region => new {@class = "region" + region.Id})
				@ViewBag.Validation.GetError(address.House.Street, "Region", "Поле не может быть пустым")
			</div>
			<div>
				<span >Улица</span>
				@Html.DropDownListExtendedFor(k => address.House.Street, ViewBag.Streets as List<Street>, obj => obj.Name, street => new {@class = "region" + street.Region.Id +" " + "street" + street.Id})
				@ViewBag.Validation.GetError(address.House, "Street", "Поле не может быть пустым")
			</div>
			<div>
				<span >Дом</span>
				@Html.DropDownListExtendedFor(k => address.House, ViewBag.Houses as List<House>, obj => obj.FullName,  house => new {@class = "street" + house.Street.Id})
				@ViewBag.Validation.GetError(address.House, "FullName", "Поле не может быть пустым")
			</div>
			<div>
				<div>Корпус</div>
				@Html.TextBoxFor(k => address.Entrance)
				@ViewBag.Validation.GetError(address, "Entrance", "Значение не может быть пустым")
			</div>
			<div>
				<div>Подъезд</div>
				@Html.TextBoxFor(k => address.Apartment)
				@ViewBag.Validation.GetError(address, "Apartment", "Значение не может быть пустым")
			</div>
			<div>
				<div>Этаж</div>
				@Html.TextBoxFor(k => address.Floor)
				@ViewBag.Validation.GetError(address, "Floor", "Значение не может быть пустым")
			</div>

			<input type="submit"  value="Принять изменения"/>
		}
		<button class="BackButton" onclick=" location.href = '@Url.Action("AdminAddressAddress", "AdminAddress")' ">Назад</button>
	
	</div>
</div>