@using Inforoom2.Components 
@using Inforoom2.Helpers
@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "Список агентов";
	Layout = "~/Views/Shared/_Layout.cshtml";
	string action = ViewBag.ActionName;
	string controller = ViewBag.ControllerName;
	var agentList = (List<Agent>)ViewBag.agentList;
	ValidationRunner runner = ViewBag.Validation;
	var agent = (Agent)ViewBag.agentMan;
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	
	@using (@Html.BeginForm("AgentAdd", controller, null, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" })) {
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">ФИО</label>
			</div>
			<div class="col-sm-8">
				@Html.ValidationEditor(runner, agent, "Name", new { @class = "form-control " }, HtmlTag.input, HtmlType.none)  
			</div>
			<div class="col-sm-2">
				<button class="btn btn-green" type="submit">Добавить</button>
			</div>
		</div>
	}  
	<br/> 
	<div class="form-group">

		<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
			<thead>
				<tr role="row">
					<th tabindex="0" aria-controls="table-2">агент</th>
					<th tabindex="0" aria-controls="table-2">активен</th>
					<th tabindex="0" aria-controls="table-2">действие</th>  
				</tr>
			</thead>			
			<tbody>
				@foreach (Agent item in agentList) {
					<tr>
						<td class="col-sm-6">
							<span>@item.Name</span>
						</td>
						<td class="col-sm-6">
							<span>@Html.CheckBoxFor(i => @item.Active, new { @disabled = "disabled" })</span>
						</td>
						<td>
							<a class="btn @(@item.Active == false ? "btn-green" : "btn-red") btn-sm btn-icon icon-left" href="@Url.Action("agentStatusChange", new { @id = @item.Id })">
								<i class="entypo-cancel-circled"></i>
								@(@item.Active == false ? "Активировать" : "Дезактивировать")
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div> 
</div>
