@using System.Activities.Expressions
@using System.Activities.Statements
@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	Layout = "";
	Client client = ViewBag.Client;
	string newPassword = ViewBag.NewPassword ?? "";
	var freePorts = client.GetFreePorts();
} 
<head>
	<title>Наряд на подключение</title>
	<link type='text/css' rel='stylesheet' href='~/Css/PassAndShowCard.css?v=1'>
</head>
<body>
	<div class="WordSection1">

		<table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: none; mso-border-alt: solid black .5pt; mso-border-themecolor: text1; mso-yfti-tbllook: 1184; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt">
			<tbody>
				<tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
					<td valign="top" style="border: solid black 1.0pt; mso-border-themecolor: text1; mso-border-alt: solid black .5pt; mso-border-themecolor: text1; padding: 0cm 5.4pt 0cm 5.4pt" class="style1">
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal"> </p><div style="float: left">
							<!--[if !vml]--><span style="mso-ignore: vglayout; position: relative; z-index: 8; left: -1px; top: 2px; width: 152px; height: 53px"><img width="152" height="51" src="~/Images/inforoomForCard.jpg" v:shapes="Рисунок_x0020_1"></span><!--[endif]-->
						</div>
						<div style="margin-left: 480px">
							<p class="MsoNormal">
								<b style="mso-bidi-font-weight: normal">
									<i style="mso-bidi-font-style: normal">
										<o:p>&nbsp;</o:p><br> НАРЯД
										НА ПОДКЛЮЧЕНИЕ<o:p></o:p>
									</i>
								</b>
							</p>
						</div><p></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">&nbsp;</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							ФИО: <b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><u>@(client.GetName())</u></i></b>
							дата рождения: <i style="mso-bidi-font-style: normal"><u>_____._____._________ <span class="GramE">г</span>.</u></i>,
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Паспорт серия:<i style="mso-bidi-font-style: normal"><u>_________</u></i>
							, №:<i style="mso-bidi-font-style: normal"><u>______________</u></i>
							, дата выдачи:<i style="mso-bidi-font-style: normal"><u>_____._____._________ <span class="GramE">г</span>.</u></i>,
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Кем выдан:<i style="mso-bidi-font-style: normal"><u>______________________________________________________________________________</u></i>,
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">прописанный по адресу: <i style="mso-bidi-font-style: normal"><u>__________________________________________________________________</u></i></p>

						@if(client.Contacts.FirstOrDefault(s => s.Type == ContactType.SmsSending) != null)
						{
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							контактный телефон: <i style="mso-bidi-font-style: normal">
								<u>
									@(  client.Contacts.FirstOrDefault(s => s.Type == ContactType.SmsSending).ContactPhoneSplitFormat)
								</u>
							</i>
						</p>
						}
						@if (client.Contacts.FirstOrDefault(s => s.Type == ContactType.MobilePhone) !=null && (client.Contacts.FirstOrDefault(s => s.Type == ContactType.SmsSending) == null ||
						                                                                                client.Contacts.FirstOrDefault(s => s.Type == ContactType.SmsSending).ContactPhoneSplitFormat != client.Contacts.FirstOrDefault(s => s.Type == ContactType.MobilePhone).ContactPhoneSplitFormat)) {
							<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
								мобильный телефон: <i style="mso-bidi-font-style: normal">
									<u>
										@(  client.Contacts.FirstOrDefault(s => s.Type == ContactType.MobilePhone).ContactPhoneSplitFormat)
									</u>
								</i>
							</p>
						}
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							принял подключение услуги доступа к сети интернет
							со следующими параметрами:
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">адрес подключения: <i style="mso-bidi-font-style: normal"><u>@client.PhysicalClient.Address.GetStringForPrint(entrance:false)</u></i></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Счет: <i style="mso-bidi-font-style: normal"><u>@client.Id.ToString("00000")<b style="mso-bidi-font-weight: normal"><o:p></o:p></b></u></i>



							Коммутатор: <i style="mso-bidi-font-style: normal"><u>@(client.Endpoints.Count>0? client.Endpoints.FirstOrDefault().Switch.Name + " ("+client.Endpoints.FirstOrDefault().Switch.Ip+")":"")<b style="mso-bidi-font-weight: normal"><o:p></o:p></b></u></i>
							Порт: <i style="mso-bidi-font-style: normal"><u>@(client.Endpoints.Count>0? client.Endpoints.FirstOrDefault().Port.ToString():"")<b style="mso-bidi-font-weight: normal"><o:p></o:p></b></u></i>



							Тарифный план: <i style="mso-bidi-font-style: normal"><u>@(client.Plan.Name)<b style="mso-bidi-font-weight: normal"><o:p></o:p></b></u></i>
						</p>

						<div style="height: 5px;"></div>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Стоимость выполненных работ <b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><u>@client.PhysicalClient.ConnectSum.ToString("0.00")</u></i></b>
							руб.
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Я <b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><u>@(client.GetName())</u></i></b> принимаю
							подключение к услугам доступа к сети Интернет.
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Претензий по объёму и качеству оказанных услуг не
							имею.
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal"><o:p>&nbsp;</o:p></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">__________________________________________<span style="mso-spacerun: yes">               </span><span style="mso-spacerun: yes">     </span><span style="mso-spacerun: yes">         </span><span style="mso-spacerun: yes">   </span><i style="mso-bidi-font-style: normal"><u>________________________</u></i></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							<span style="font-size: 8.0pt">
								<span style="mso-spacerun: yes">                                         </span>(подпись
								Абонента)<span style="mso-spacerun: yes">
								</span><span style="mso-spacerun: yes">            </span><span style="mso-spacerun: yes">          </span><span style="mso-spacerun: yes">  </span><span style="mso-spacerun: yes">      </span>(дата)<o:p></o:p>
							</span>
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							<!--[if !vml]--><span style="mso-ignore: vglayout">
							</span>
						</p><table cellpadding="0" cellspacing="0" align="left" style="height: 70px; margin-top: -12px;">
							<tbody>
								<tr>
									<td width="532" class="style2"></td>
								</tr>
								<tr>
									<td>
										<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal"><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal">Уважаемый Абонент! Благодарим Вас за выбор нашей Компании!<o:p></o:p></i></b></p>
										<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal">
											<i style="mso-bidi-font-style: normal">
												Наша Компания ставит своей
												задачей постоянное повышение качества <o:p></o:p>
											</i>
										</p>
										<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal">
											<i style="mso-bidi-font-style: normal">
												предоставляемых услуг и
												обслуживания наших Абонентов. <o:p></o:p>
											</i>
										</p>
										<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal">
											<i style="mso-bidi-font-style: normal">
												Просим Вас оценить качество
												подключения по десятибалльной шкале <o:p></o:p>
											</i>
										</p>
									</td>
									<td width="175" height="50" bgcolor="white" style="border: .75pt solid black; vertical-align: top; background: white">
										<!--[endif]--><!--[if !mso]--><span style="position: absolute; mso-ignore: vglayout; left: 0pt; z-index: 7">
											<table cellpadding="0" cellspacing="0" width="100%">
												<tbody>
													<tr>
														<td>
															<!--[endif]-->
															<div v:shape="_x0000_s1027" style="padding: 4.35pt 7.95pt 4.35pt 7.95pt" class="shape">
																<p class="MsoNormal" align="center" style="text-align: center"><span style="font-size: 5.0pt; line-height: 115%"><o:p>&nbsp;</o:p></span></p>
																<p class="MsoNormal" align="center" style="text-align: center"><span style="font-size: 5.0pt; line-height: 115%"><o:p>&nbsp;</o:p></span></p>
																<p class="MsoNoSpacing" align="center" style="text-align: center"><b style="mso-bidi-font-weight: normal"><span style="font-size: 8.0pt"><o:p>&nbsp;</o:p></span></b></p>
															</div>
															<!--[if !mso]-->
														</td>
													</tr>
												</tbody>
											</table>
										</span><!--[endif]--><!--[if !mso & !vml]-->&nbsp;<span style="mso-ignore: vglayout">
											<span style="mso-ignore: vglayout;">
												<br>
												<br>
												<br>
												<p class="MsoNoSpacing" align="center" style="text-align: center">
													<b style="mso-bidi-font-weight: normal">
														<span style="font-size: 8.0pt">
															поле
															заполняется Абонентом<o:p></o:p>
														</span>
													</b>
												</p>
											</span>
										</span><!--[endif]--><!--[if !vml]-->
									</td>
								</tr>
							</tbody>
						</table>
						<!--[endif]--><p></p>
						<br style="mso-ignore: vglayout" clear="ALL">
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal"><b style="mso-bidi-font-weight: normal">Расход материалов:<o:p></o:p></b></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal">
							<span style="mso-spacerun: yes"> </span><b style="mso-bidi-font-weight: normal">кабель </b><b style="mso-bidi-font-weight: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">UTP</span> 2</b><b style="mso-bidi-font-weight: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">x</span>2</b> начальная
							метка
							<!--[if !vml]--><img width="114" height="20" src="~/Images/image003.gif" v:shapes="_x0000_s1033"><!--[endif]-->
							<span style="mso-spacerun: yes"> </span>конечная метка
							<!--[if !vml]--><img width="114" height="20" src="~/Images/image003.gif" v:shapes="_x0000_s1032"><!--[endif]-->
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal">
							<b style="mso-bidi-font-weight: normal">коннектор </b><b style="mso-bidi-font-weight: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">RJ</span>-45</b> - <b style="mso-bidi-font-weight: normal">
								<!--[if !vml]--><img width="51" height="20" src="~/Images/image004.gif" v:shapes="_x0000_s1031"><!--[endif]-->
							</b>
							<span style="mso-spacerun: yes"> </span>шт. <b style="mso-bidi-font-weight: normal">
								скоба
								с гвоздем
							</b> -
							<b style="mso-bidi-font-weight: normal">
								<!--[if !vml]--><img width="51" height="20" src="~/Images/image004.gif" v:shapes="_x0000_s1030"><!--[endif]-->
							</b>
							<span style="mso-spacerun: yes">  </span>шт.

							<br>
							@if (freePorts.Count > 0) {
								<span>Свободные порты: @(string.Join(", ", freePorts))</span>
							}
						</p>
						<p class="MsoNormal" align="right" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: right; line-height: normal">
							Работы выполнил
							@if (client.ConnectionRequest != null && client.ConnectionRequest.ServiceMan != null) {
								@client.ConnectionRequest.ServiceMan.Employee.Name
							}
							else {
								<img width=166 height=24 src="~/Images/image005.gif" style="margin-top: 6px;" v:shapes="_x0000_s1028">
							}
							<span>&nbsp;</span>
						</p> 
					</td>
				</tr>
				<tr style="mso-yfti-irow: 1">
					<td valign="top" style="border-bottom: solid black 1.0pt; mso-border-bottom-themecolor: text1; mso-border-top-alt: solid black .5pt; mso-border-top-themecolor: text1; mso-border-top-alt: solid black .5pt; mso-border-top-themecolor: text1; mso-border-bottom-alt: solid black .5pt; mso-border-bottom-themecolor: text1; padding: 0cm 5.4pt 0cm 5.4pt; border-left-style: none; border-left-color: inherit; border-left-width: medium; border-right-style: none; border-right-color: inherit; border-right-width: medium; border-top-style: none; border-top-color: inherit; border-top-width: medium;" class="style1">
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal">
							<i style="mso-bidi-font-style: normal">
								<span style="font-size: 8.0pt">
									---------------------------------линия отрыва<span style="mso-spacerun: yes">   </span>---<span style="mso-spacerun: yes">  </span>линия отрыва<span style="mso-spacerun: yes">   </span>---<span style="mso-spacerun: yes">   </span>линия отрыва<span style="mso-spacerun: yes">   </span>---<span style="mso-spacerun: yes">   </span>линия отрыва<span style="mso-spacerun: yes"></span>---<span style="mso-spacerun: yes">   </span>линия отрыва<span style="mso-spacerun: yes">   <o:p>---------------------------------</o:p></span>
								</span>
							</i>
						</p>
					</td>
				</tr>
				<tr style="mso-yfti-irow: 2; mso-yfti-lastrow: yes">
					<td valign="top" style="mso-border-themecolor: text1; border-left: 1.0pt solid black; border-right: 1.0pt solid black; border-bottom: 1.0pt solid black; mso-border-top-alt: solid black .5pt; mso-border-top-themecolor: text1; mso-border-alt: solid black .5pt; mso-border-themecolor: text1; padding: 0cm 5.4pt 0cm 5.4pt; border-top-style: none; border-top-color: inherit; border-top-width: medium;" class="style1">
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							<!--[if !vml]--><span style="mso-ignore: vglayout; position: absolute; z-index: 9; left: 0px; margin-left: 20px; margin-top: 7px; width: 152px; height: 40px"><img width="152" height="51" src="~/Images/inforoomForCard.jpg" v:shapes="_x0000_s1035"></span><!--[endif]--><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><o:p></o:p></i></b>
						</p>
						<p class="MsoNormal" style="margin-top: 2px; margin-right: 0cm; margin-bottom: 0cm; margin-left: 361.5pt; margin-bottom: .0001pt; line-height: normal">
							<b style="mso-bidi-font-weight: normal">
								<i style="mso-bidi-font-style: normal">
									ЗАКАЗ НА ПРЕДОСТАВЛЕНИЕ УСЛУГ
								</i>
							</b>
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal"><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><o:p>&nbsp;</o:p></i></b></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal; tab-stops: center 269.3pt">&nbsp;</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal; tab-stops: center 269.3pt">&nbsp;</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal; tab-stops: center 269.3pt">
							<b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal">Параметры услуги: </i></b>Адрес
							подключения: <i style="mso-bidi-font-style: normal"><u>@client.PhysicalClient.Address.GetStringForPrint(entrance: false)</u></i>
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">Тарифный план: <i style="mso-bidi-font-style: normal"><u>@(client.Plan.Name)<b style="mso-bidi-font-weight: normal"><o:p></o:p></b></u></i></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">Лицевой счет № <i style="mso-bidi-font-style: normal"><u>@client.Id.ToString("00000")<b style="mso-bidi-font-weight: normal"><o:p></o:p></b></u></i></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							<b style="mso-bidi-font-weight: normal">
								Для оплаты
								услуг доступа к сети интернет используйте номер Вашего лицевого счета.<o:p></o:p>
							</b>
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">Параметры доступа к личному кабинету на <span lang="EN-US" style="mso-ansi-language: EN-US">web</span>-сервере <a href="http://www.ivrn.net"><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">www</span>.</i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">ivrn</span>.</i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">net</span></i></b></a>: </p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">Логин: <b style="mso-bidi-font-weight: normal"><u><a  title="Перейти на страницу клиента" href="@Url.Action("InfoPhysical", new {id = client.Id})">@client.Id.ToString("00000")</a></u></b></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
								Пароль: <b style="mso-bidi-font-weight: normal">
									@Html.Raw(newPassword)
								</b>
							</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Работы по подключению к сети интернет
							представителем ООО "Инфорум" выполнены в полном объёме.
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Абонент к качеству и объему выполненных работ
							претензий не имеет. С условиями Договора-оферты <span class="GramE">ознакомлен</span>.
							Место прокладки кабеля согласовано.
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal"><o:p>&nbsp;</o:p></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">Стоимость услуг по подключению <b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><u>@client.PhysicalClient.ConnectSum.ToString("0.00") </u></i></b> руб.</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">&nbsp;</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">__________________________________________<span style="mso-spacerun: yes">               </span><span style="mso-spacerun: yes">            </span><span style="mso-spacerun: yes">     </span><span style="mso-spacerun: yes">       </span><i style="mso-bidi-font-style: normal"><u>________________________</u></i></p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							<span style="font-size: 8.0pt">
								<span style="mso-spacerun: yes">                                         </span>(подпись
								Абонента)<span style="mso-spacerun: yes">
								</span><span style="mso-spacerun: yes">                      </span><span style="mso-spacerun: yes">    </span><span style="mso-spacerun: yes">   </span><span style="mso-spacerun: yes"> </span>(дата)<o:p></o:p>
							</span>
						</p>
						<p class="MsoNormal" align="center" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal">
							<i style="mso-bidi-font-style: normal">
								<span style="font-size: 10.0pt">
									Договор - оферты и правила оказания услуг
									опубликованы на
								</span>
							</i><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-size: 10.0pt; mso-ansi-language: EN-US">web</span></i><i style="mso-bidi-font-style: normal">
								<span style="font-size: 10.0pt">
									-сервере
									ООО «Инфорум» по адресу
								</span>
							</i><a href="http://www.ivrn.net"><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-size: 10.0pt; mso-ansi-language: EN-US">www</span></i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span style="font-size: 10.0pt">.</span></i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-size: 10.0pt; mso-ansi-language: EN-US">ivrn</span></i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span style="font-size: 10.0pt">.</span></i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-size: 10.0pt; mso-ansi-language: EN-US">net</span></i></b></a><i style="mso-bidi-font-style: normal"><span style="font-size: 10.0pt"><o:p></o:p></span></i>
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal">
							Контакты службы технической поддержки: тел. <b style="mso-bidi-font-weight: normal">
								<i style="mso-bidi-font-style: normal">
									<u>
										@client.GetRegion().RegionOfficePhoneNumber

									</u>
								</i>
							</b> <span lang="EN-US" style="mso-ansi-language: EN-US">e</span>-<span lang="EN-US" style="mso-ansi-language: EN-US">mail</span>: <a href="mailto:Internet@ivrn.net"><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">Internet</span> @Html.Raw("@")</i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">ivrn</span>.</i></b><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="mso-ansi-language: EN-US">net</span></i></b></a><b style="mso-bidi-font-weight: normal"><i style="mso-bidi-font-style: normal"><u><o:p></o:p></u></i></b>
						</p>

						<p class="MsoNormal" align="right" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: right; line-height: normal">
							Работы выполнил
							@if (client.ConnectionRequest != null && client.ConnectionRequest.ServiceMan != null) {
								@client.ConnectionRequest.ServiceMan.Employee.Name
							}
							else {
								<img width=166 height=24 src="~/Images/image005.gif" v:shapes="_x0000_s1028">
							}
							<span>&nbsp;</span>
						</p>
						<p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal"><span style="font-size: 2.0pt"><o:p>&nbsp;</o:p></span></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</body>
