@using Inforoom2.Helpers
@using Inforoom2.Models

@{
	Client client = ViewBag.Client;
	bool rentIsActive = ViewBag.RentIsActive;
	ViewBag.Title = "Информация по клиенту " + client.PhysicalClient.FullName;
	Layout = "~/Views/Shared/_Layout.cshtml";
	string action = ViewBag.ActionName;
	string controller = ViewBag.ControllerName;
	List<SwitchAddress> networkNodeList = ViewBag.networkNodeList;
	Employee currentEmployeeForUserName = ViewBag.CurrentEmployee;
}

<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (@Html.BeginForm("", controller, null, FormMethod.Get, new {@id = "BtnGroup", @class = "form-horizontal form-groups-bordered"})) {
			<div class="form-group">
				<a id="PrivateMsgBtn" class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("PrivateMessage", "ClientActions", new {id = client.Id})">
					<i class="entypo-plus-circled"></i>
					ПРИВАТНОЕ СООБЩЕНИЕ
				</a>
				<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("ServiceRequestCreate", "ServiceRequest", new {@id = client.Id})">
					<i class="entypo-doc-text"></i>
					Сервисная заявка
				</a>
				<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("AttachRequest", "ConnectionTeam", new {@id = client.Id, @type = "ClientConnectionRequest"})">
					<i class="entypo-briefcase"></i>
					Заявка на подключение
				</a>
				<a class="btn btn-success btn-sm btn-icon icon-left" target="_blank" href="@ConfigHelper.GetParam("inforoom2Url")Account/AdminLogin?clientId=@(client.Id)&username=@(currentEmployeeForUserName.Login)">
					<i class="entypo-key"></i>
					Войти в личный кабинет
				</a> 
			</div>
		}
	</div>
</div>

<div class="form-group">
	<a href="@Url.Action("Edit", new { @id = client.Id })" class="btn btn-green">Редактировать</a>
</div>

<div class="panel panel-primary col-md-12">
	<div class="panel-body col-md-6">
		@using (@Html.BeginForm(action, controller, null, FormMethod.Post, new { @id = "ClientInfoForm", @class = "form-horizontal form-groups-bordered" })) {
			<div class="form-group">
				<label class="col-sm-2 control-label">Номер лицевого счета:</label>
				<div class="col-sm-4">
					@Html.DisplayFor(o => client.Id, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Фактический адрес:</label>
				<div class="col-sm-4">
					@Html.DisplayFor(o => client.PhysicalClient.Address, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label for="BalanceField" class="col-sm-2 control-label">Баланс:</label>
				<div class="col-sm-4">
					@Html.DisplayFor(o => client.Balance, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Статус:</label>
				<div class="col-sm-4">
					@Html.DisplayFor(o => client.Status.Name, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<a class="btn @(rentIsActive ? "btn-red" : "btn-success") btn-sm btn-icon icon-left" href="@Url.Action("HardwareList","HardwareRent", new {id = client.Id})">
					<i class="entypo-plus-circled"></i>
					АРЕНДА ОБОРУДОВАНИЯ
				</a>
				@if (rentIsActive) {
					<div style="width: 475px; font-weight: bold;">
						<br/><p style="background-color: pink; color: black">ПРИ РАСТОРЖЕНИИ ДОГОВОРА КЛИЕНТ ДОЛЖЕН ВЕРНУТЬ ОБОРУДОВАНИЕ</p>
					</div>
				}
			</div>
		}
	</div>

	<div class="panel-body col-md-6">
		@if (networkNodeList != null && networkNodeList.Count > 0) {
			foreach (var node in networkNodeList) {
				<div class="form-group">
					<div class="col-sm-10">
						<h5><strong>@node.NetworkNode.Name</strong></h5>
						@foreach (var iswitch in node.NetworkNode.Switches) {
							<h5>@iswitch.Name</h5>
							<p><span>Свободные порты: </span>@(iswitch.PortCount - @iswitch.Endpoints.Count)</p>
							<p>
								<span>Витые пары: </span>
								@if (iswitch.NetworkNode.TwistedPairs.Count > 0) {
									int countOfPairs = 0;
									for (int i = 0; i < iswitch.NetworkNode.TwistedPairs.Count; i++) {
										countOfPairs += iswitch.NetworkNode.TwistedPairs[i].PairCount;
										if (i > 0) {
											@Html.Raw(" + " + iswitch.NetworkNode.TwistedPairs[i].PairCount)
										}
										else {
											@Html.Raw(iswitch.NetworkNode.TwistedPairs[i].PairCount)
										}
										if (i == iswitch.NetworkNode.TwistedPairs.Count - 1) {
											@Html.Raw(" = " + countOfPairs)
										}
									}
								}
							}
							else {
								@Html.Raw(" нет ")
							}
						</p>
					}
				</div>
			</div>
			}
		}
	</div>

</div>
<div style="clear:both;"></div>
