@using System.Activities.Expressions
@using System.Activities.Statements
@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "Онлайн клиенты";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<PackageSpeed> packageSpeedList = ViewBag.PackageSpeedList;
	InforoomModelFilter<Lease> pager = ViewBag.Pager;
	List<Lease> leaseWithoutEndPointList = ViewBag.LeaseWithoutEndPointList;
	leaseWithoutEndPointList = leaseWithoutEndPointList.OrderBy(s => s.LeaseBegin).ToList();
	var leases = pager.GetItems();
	if (pager.Page == 1) {
		leases = leases.Where(s => !leaseWithoutEndPointList.Any(d => d.Id == s.Id)).ToList();
		leaseWithoutEndPointList.ForEach(s => { leases.Insert(0, s); });
	}
	string leaseListByIp = ViewBag.LeaseListByIp??"";
}
@section JavaScript{
	<script type="text/javascript" src="@Url.Content("~/Scripts/ClientSearchPage.js?v=1")"></script>
}
<div id="table-2_wrapper" class="clientMainTable dataTables_wrapper form-inline">
	<form>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">ЛС</div>
				<div class="col-sm-3">@pager.FormFilter(i => i.Endpoint.Client.Id, HtmlType.text, ComparsionType.Equal, new {@class = "form-control", @style = "min-width:280px; max-width:280px;"})</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">Имя</div>
				<div class="col-sm-3">@pager.FormFilter(i => i.Endpoint.Client._Name, HtmlType.text, ComparsionType.Like, new {@class = "form-control", @style = "min-width:280px; max-width:280px;"})</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">Зона</div>
				<div class="col-sm-3">@pager.FormFilter(i => i.Endpoint.Switch.Zone.Name, HtmlType.Dropdown, ComparsionType.Equal, new {@class = "form-control", @style = "min-width:280px; max-width:280px;"})</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">Коммутатор</div>
				<div class="col-sm-3">@pager.FormFilter(i => i.Endpoint.Switch.Name, HtmlType.Dropdown, ComparsionType.Equal, new {@class = "form-control", @style = "min-width:280px; max-width:280px;"})</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">Тип клиента</div>
				<div class="col-sm-3">@pager.FormFilter(i => i.Endpoint.Client.PhysicalClient, HtmlType.Dropdown, ComparsionType.IsNotNull, new {@Id = "FilterCondition_ClientType", @class = "form-control", @style = "min-width:280px; max-width:280px;"})</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">Арендованный IP</div>
				<div class="col-sm-3"> 
					<input type="text" name="mfilter.filter.LeaseListByIp" value="@leaseListByIp" class="form-control" style="min-width: 280px; max-width: 280px;">
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-1">
					@pager.SubmitButton(new {@class = "btn btn-success btn-sm"})
				</div>
				<div class="col-sm-1">
					@pager.CleanButton(new {@class = "btn btn-success btn-sm"})
				</div>
			</div>
		</div>
	</form>
	<div class="totalCountOfItems">
		Всего: <strong>@pager.TotalItems</strong> строк
	</div>
	<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
		<div class="panel-body">
			<div class="row">
				@{ Html.RenderPartial("Pagination"); }
			</div>
		</div>
	</div>
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Id)">Аренда</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Endpoint.Ip)">Фиксированный IP</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Ip)">Арендованный IP</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.LeaseBegin)">Начало аренды</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Endpoint.Client.Id)">Клиент</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Endpoint.Id)">Endpoint ID</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Endpoint.Client._Name)">Имя</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Switch.Id)">Коммутатор</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Switch.Name)">Название коммутатора</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Switch.Ip)">IP коммутатора</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Port)">Порт</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Endpoint.PackageId)">PackageId</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				Скорость
			</th>
		</tr>
		</thead>

		<tbody>
		@foreach (var lease in leases) {
			<tr role="row" class="odd@(lease.Endpoint != null?"":" no-end-point")">
				<td>@(lease.Id)</td>
				<td>@(lease.Endpoint != null ? lease.Endpoint.Ip != null ? lease.Endpoint.Ip.MapToIPv4().ToString() : "" : "")</td>
				<td>@(lease.Ip)</td>
				<td>@(lease.LeaseBegin)</td>
				<td>
					@if (lease.Endpoint != null) {
						<a @(lease.Endpoint.Client.PhysicalClient == null ? "style=color:#0D90D4;" : "") class="idColumn" target="_blank" href="@(ConfigHelper.GetParam("adminPanelOld")
						                                                                                                                          + (String.Format("UserInfo/{0}?filter.ClientCode=", lease.Endpoint.Client.PhysicalClient != null ? "ShowPhysicalClient" : "ShowLawyerPerson"))
						                                                                                                                          + lease.Endpoint.Client.Id)">
							@lease.Endpoint.Client.Id
						</a>
					}
				</td>
				<td>@(lease.Endpoint != null ? lease.Endpoint.Id.ToString() : "")</td>
				<td>@(lease.Endpoint != null ? lease.Endpoint.Client._Name.ToString() : "")</td>
				<td>@(lease.Switch != null ? lease.Switch.Id.ToString() : "")</td>
				<td>
					@if (lease.Switch != null) {
						<a style="color: #1A5979;" class="idColumn" target="_blank" href="@(ConfigHelper.GetParam("adminPanelOld") + String.Format("/Switches/MakeSwitch?Switch={0}", lease.Switch.Id))">
							@lease.Switch.Name
						</a>
					}
				</td>
				<td>@(lease.Switch != null ? (lease.Switch.Ip != null ? lease.Switch.Ip.ToString() : "") : "")</td>
				<td>@(lease.Port)</td>
				<td>@(lease.Endpoint != null ? lease.Endpoint.PackageId != null ? lease.Endpoint.PackageId.ToString() : "" : "")</td>
				<td>
					@(lease.Endpoint != null ? lease.Endpoint.PackageId != null ? PackageSpeed.GetSpeedForPackageId(packageSpeedList, lease.Endpoint.PackageId.Value).ToString() + " мб/с" : "" : "" )
				</td>

			</tr>
		}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>