@using System.Activities.Expressions
@using System.Activities.Statements
@using Inforoom2.Components
@using Inforoom2.Models
@{
	var urlRoot = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
	ViewBag.Title = "Заявки клиентов на регистрацию";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<ClientRequest> clientRequests = ViewBag.ClientRequests;
	ModelFilter<ClientRequest> pager = ViewBag.Pager;
}

<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="table-2" ><a href="@urlRoot@pager.OrderBy(s => s.Id)">#</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2" ><a href="@urlRoot@pager.OrderBy(s => s.ApplicantName)">Имя</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2" ><a href="@urlRoot@pager.OrderBy(s => s.Address)">Адрес</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2" ><a href="@urlRoot@pager.OrderBy(s => s.RegDate)">Дата</a></th>
				<th class="sorting" tabindex="0" aria-controls="table-2" >Действия</th>
			</tr>
		</thead>
			
		<tbody>
			@foreach (var request in clientRequests) {
				<tr role="row" class="odd">
					<td>@request.Id</td>
					<td>@request.ApplicantName</td>
					<td>@request.GetAddress()</td>
					<td>@request.RegDate</td>
					<td>
						<a href="@Url.Action("RequestRegistration", new { @id = request.Id })" class="btn btn-green">зарегистрировать</a></td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>