@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/ClientController.ServiceRequest.js")"></script>}
@model dynamic

@{
	ViewBag.Title = "Сервисная заявка";
	Layout = "~/Views/Shared/_Layout.cshtml";
	Client client = ViewBag.Client;
	List<ServiceMan> servicemen = ViewBag.Servicemen;
	ServiceRequest ServiceRequest = ViewBag.ServiceRequest;
	ValidationRunner runner = ViewBag.Validation;
	string action = ViewBag.ActionName;
	string controller = ViewBag.ControllerName;
}

<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (@Html.BeginForm(action, controller, new { clientId = client.Id}, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" }))
		{
			 @Html.HiddenFor(i => ServiceRequest.Client.Id);
			<div class="form-group">
				<label class="col-sm-2 control-label">Текст заявки</label>
				<div class="col-sm-4">
					@Html.ValidationEditor(runner, ServiceRequest, "Description", new { @class = "form-control" }, HtmlTag.textarea, HtmlType.none)
				</div>
				
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Восстановление работы</label>
				<div class="col-sm-4">
					@Html.ValidationEditor(runner, ServiceRequest, "BlockNetwork", new { @class = "" }, HtmlTag.checkbox, HtmlType.none)
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-green" type="submit">Создать заявку</button>
			</div>
		}
	</div>
</div>
