@using Inforoom2.Helpers
@using Inforoom2.Models
@using NPOI.SS.Formula.Functions
@model dynamic

@{
	ViewBag.Title = "Редактирование баннера";
	Layout = "~/Views/Shared/_Layout.cshtml";
	Banner banner = ViewBag.Banner;
	int currentRegion = banner.Region != null ? banner.Region.Id : 0;
	List<Region> regionList = ViewBag.RegionList;
	var urlPath = (string)ViewBag.pathFromConfigURL;
}
<div class="panel panel-primary">
	<div class="panel-body">
		<div class="col-md-6">
			@using (@Html.BeginForm("UpdateBanner", "Banner", FormMethod.Post, new { @class = "form-horizontal form-groups-bordered", EncType = "multipart/form-data" }))
   {
				<div class="form-group">
					@Html.HiddenFor(model => banner.Id)
					<label class="col-sm-3 control-label">Ссылка</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(model => banner.Url, new { @class = "form-control" }) 
					</div>
				</div>
                <div class="form-group">
                    <span>Возможна загрузка файлов следующих форматов: <strong>.png</strong>, <strong>.jpg</strong>, <strong>.jpeg</strong>. Весом до <strong>500</strong> кбайт.</span>
                </div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Изображение</label>
					<div class="col-md-5">
						<img src="@urlPath@banner.ImagePath" style="max-height: 90px;" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Изменить изображение</label>
					<div class="col-md-5">
						<input type="file" name="uploadedFile" class="file" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Регион</label>
					<div class="col-sm-5">
						@Html.DropDownListExtendedFor(i => banner.Region, regionList, obj => obj.Name, null, new { @class = "form-control" }, currentRegion) 
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label c-pointer" for="isEnabled">Показ</label>
					<div class="col-md-5">
						@Html.CheckBoxFor(model => banner.Enabled, new { @id = "isEnabled", @class = "c-pointer" })
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-green" type="submit">Сохранить</button>
				</div>
			}
		</div>
	</div>
</div>

<div class="form-group">
	<button class="btn btn-blue" onclick=" location.href='@Url.Action("BannerIndex", "Banner")' ">Назад</button>
</div>