@using Inforoom2.Models

@{
	ViewBag.Title = "AdminHosue";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<House> houses = ViewBag.Houses;
}

<h2>AdminRegion</h2>
@{ Html.RenderPartial("AdminPanel");  }
<span><button class="CreateAddress" onclick=" location.href = '@Url.Action("EditHouse", "Address")' ">Создать дом</button></span>

<div class="AdminAddress">
	<table class="AdminAddressTable">
		<tr>
			<td>
				<div>Номер</div>
			</td>
			<td>
				<div>Корпус / Строение</div>
			</td>

			<td>
				<div>Регион</div>
			</td>

			<td>
				<div>Улица</div>
			</td>
			<td>
				<div>Кол-во квартир</div>
			</td>
			<td>
				<div>Кол-во подъездов</div>
			</td>
		</tr>
		@foreach (var item in houses) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Number)
				</td>
			
				<td>
					@Html.DisplayFor(modelItem => item.Housing)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Street.Region.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Street.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApartmentAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EntranceAmount)
				</td>
				<td>
					<span><button class="ViewAddress" onclick=" location.href = '@Url.Action("EditHouse", "Address", new {houseId = item.Id})' ">Просмотр</button></span>
					<span><button class="DeleteAddress" onclick=" location.href = '@Url.Action("DeleteHouse", "Address", new {houseId = item.Id})' ">Удалить</button></span>
				</td>
			</tr>
		}
	</table>
</div>