@using Inforoom2.Helpers
@using Inforoom2.Models
@model dynamic
@section JavaScript{
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script type="text/javascript"src="@Url.Content("~/Scripts/YandexMapHelper.js")"></script>
	<script type="text/javascript"src="@Url.Content("~/Scripts/AddressController.CreateHouse.js")"></script>
}

@{
	ViewBag.Title = "Создать новый дом";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Street> Streets = ViewBag.Streets;
	Street street = ViewBag.Street ?? new Street();
	House House = ViewBag.House;
	
}
	<div class="panel panel-default">
		<div class="panel-body">
			@using (Html.BeginForm(ViewBag.ActionName as string, "Address", FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" })) {
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label">Город</label>
						<div class="col-sm-6">
							<input type="text" readonly="readonly" class="form-control" id="cityName" value="@(street.Region != null ? street.Region.City.Name : Streets.First().Region.City.Name)"/>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-sm-4 control-label">Улица</label>
						<div class="col-sm-6">
							@Html.DropDownListExtendedFor(i=>House.Street,Streets,i=>i.Name,i=>new{@class= i.Region.City.Name, @style= i.Confirmed ?"":"color:red", geomark =i.Confirmed ?"":i.Geomark},new { @class = "form-control" },street.Id)
							@ViewBag.Validation.GetError(House, "Street")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Номер</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(I=>House.Number,new { @class = "form-control" })
							@ViewBag.Validation.GetError(House, "Number")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Использовать яндекс (иногда яндекс не может найти адрес - тогда можно вписать название самостоятельно, но при проверке адресов у клиента могут возникнуть трудности)</label>
						<div class="col-sm-6">
							@Html.CheckBoxFor(I=>House.Confirmed,new { @class = "form-control"})
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Название Yandex</label>
						<div class="col-sm-6">
							<div id="yandexError" style="color:red"></div>
							<input id="yandexHouse" name="yandexHouse" class="form-control" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Координаты Yandex</label>
						<div class="col-sm-6">
							@{ var val = House.Confirmed ? House.Geomark : "";}
							<input value="@val" id="yandexPosition" name="yandexPosition" class="form-control" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Координаты собственной метки</label>
						<div class="col-sm-5">
							@Html.TextBoxFor(I=>House.Geomark,new { @class = "form-control",@readonly = "readonly" })
							@ViewBag.Validation.GetError(House, "Geomark")
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<button class="btn btn-green" type="submit">Сохранить</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="yandexMap" class="map" style="height:500px;"></div>
				</div>
					}
				</div>
			</div>
