@using System.Activities.Expressions
@using Inforoom2.Models

@{
	ViewBag.Title = "Дома";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<House> houses = ViewBag.Houses;
}
<div class="form-group">
<a class="btn btn-success btn-sm btn-icon icon-left" href = '@Url.Action("CreateHouse", "Address")'>
	<i class="entypo-plus"></i>
	Создать адрес
</a>
	</div>
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
	<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2" >Регион</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Улица</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Номер</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Проверенно яндексом</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Действия</th>
		</tr>
	</thead>
			@foreach (var item in houses)
			{
			<tr>
				<td>@item.Street.Region.Name</td>
				<td>@item.Street.Name</td>
				<td>@item.Number</td>
				<td>@Html.DisplayFor(i=>item.Confirmed)</td>
				<td>
					<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("EditHouse","Address",new {id = item.Id})">
						<i class="entypo-vcard"></i>
						Изменить
					</a>
				</td>
			</tr>
			}
	<tbody>
	</tbody>
</table>
</div>