@using Inforoom2.Models
@{
	Ticket ticket = ViewBag.Ticket;
}

<div style="width: 1000px; height: 200px; margin: 0px auto; border: 1px gainsboro solid">
	<div class="UpdateTicket" >
	
	
		@using (@Html.BeginForm("UpdateTicket", "AdminTicket", FormMethod.Post)) {
			<div>
				@Html.HiddenFor(model => ticket.Id)
				@Html.HiddenFor(model => ticket.Email)
				@Html.HiddenFor(model => ticket.Text)
				<span>Email</span>
				@Html.DisplayFor(model => ticket.Email)
				<span>Вопрос</span>
				@Html.DisplayFor(model => ticket.Text)
				</div>
			<div>
				<span>Ответ</span>
				@Html.TextAreaFor(model => ticket.Answer)
				@ViewBag.Validation.GetError(ticket, "Answer", "Ответ не может быть пустым")
			</div>
		
			<input type="submit"  value="Ответить"/>
		}
		<button class="BackButton" onclick=" location.href = '@Url.Action("AdminTicketIndex", "AdminTicket")' ">Назад</button>
	</div>
</div>