@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "Инфорум - решение для бизнеса";
	CallMeBackTicket ticket = ViewBag.NewTicket;
	ValidationRunner validationRunner = ViewBag.Validation;
}
 <div class="business">
		<div class="heading">ИНФОРУМ — РЕШЕНИЕ ДЛЯ БИЗНЕСА</div>
		<div class="decision">
		    <h1>Интернет от компании «Инфорум» — это эффективный инструмент для ведения Вашего бизнеса. Подключение осуществляется по выделенной линии, 
			синхронному каналу, с использованием оптико - волоконных технологий, что обеспечивает высокую скорость и бесперебойность предоставляемых услуг.</h1>
		    <h1>Индивидуальный подход и персональный сервис наших специалистов создают максимальный комфорт при пользовании нашими услугами.</h1>
		    <h2>Быстрее, надежнее или дешевле? Вам не придется выбирать одно из трех!</h2>
		</div>
		<div class="girl"></div>
		<div class="wifi"></div>
	    </div>
	    <div class="suggestions">
		<div class="boy"></div>
		<div class="suggestion">
		<h1>БЫСТРЫЙ ИНТЕРНЕТ ПО ЦЕНЕ ОТ 890 РУБЛЕЙ В МЕСЯЦ!</h1>
		<h2>Для малого и среднего бизнеса мы предлагаем безлимитные высокоскоростные тарифы на Интернет по цене от 890 рублей и скоростью доступа до 100 Мбит/с и выше. 
		    При этом Вы получаете бесперебойный доступ в Сеть и персональное обслуживание. Для крупного бизнеса и клиентов из бизнес-центров существует своя индивидуальная тарифная сетка.</h2>
		<h3>Перед подключением наши профессиональные менеджеры предложат тарифы в зависимости от Ваших желаний и потребностей.</h3>
		</div>
	    </div>
	    <div class="staff"></div>
	    <div class="cooperations">
		<div class="cooperationsbg"></div>
			<div class="cooperation">
				<h1>Свяжитесь с нами</h1>
				<h2>по вопросам сотрудничеста:</h2>
			</div>
		@using (@Html.BeginForm("Index", "Bussiness", FormMethod.Post)) {
			<div class="applications">
				<div class="bid">Ф.И.О:<sup>*</sup></div>
				@Html.ValidationEditor(validationRunner, ticket, "Name", new { @class = "application" }, HtmlTag.input, HtmlType.none)
				<div class="bid">Номер телефона:<sup>*</sup></div>
				@Html.ValidationEditor(validationRunner, ticket, "PhoneNumber", new { @class = "application" }, HtmlTag.input, HtmlType.none)
				<div class="bid">Электронная почта:</div>
				@Html.ValidationEditor(validationRunner, ticket, "Email", new { @class = "application" }, HtmlTag.input, HtmlType.none)
				<div class="bid">Комментарий:<sup>*</sup></div>
				@Html.ValidationEditor(validationRunner, ticket, "Text", null, HtmlTag.textarea, HtmlType.none)
			</div>
			<div class="definitely"><sup>*</sup>- обязательно для заполнения</div>
			<input class="contacting" type="submit" value="Связаться">
		}
		</div>