@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/EditNewsBlock.js")"></script>}
@using Inforoom2.Models
@{
	NewsBlock newsBlock = ViewBag.NewsBlock;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Изменить новость";
}
	@using (@Html.BeginForm("UpdateNewsBlock", "News", FormMethod.Post,new {@class = "form-horizontal form-groups-bordered"})) {
			<div class="form-group">
				@Html.HiddenFor(model => newsBlock.Id)
			@Html.HiddenFor(model => newsBlock.Priority)
			@Html.HiddenFor(model => newsBlock.PublishedDate)
			@Html.HiddenFor(model => newsBlock.CreationDate)
			@Html.HiddenFor(model => newsBlock.Employee)
				<label class="col-sm-3 control-label" for="field-ta">Полная версия</label>
				<div class="col-sm-5">
					<input class="NewsVersionCheckbox" type="checkbox" name="newsVersionCheckbox" checked ="checked" />
				</div>
			</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="field-ta">Заголовок</label>
			<div class="col-sm-5">
				@Html.TextBoxFor(model => newsBlock.Title,new {@class = "form-control"})
				@ViewBag.Validation.GetError(newsBlock, "Title", "Заголовок не может быть пустым")
			</div>
		</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="field-ta">Короткое описание</label>
				<div class="col-sm-5">
					@Html.TextAreaFor(model => newsBlock.Preview,new {@class = "form-control", style="height: 200px"})
					@ViewBag.Validation.GetError(newsBlock, "Preview", "Короткое описание не может быть пустым")
				</div>
			</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="field-ta">Полное описание</label>
			<div class="col-sm-5">
				@Html.TextAreaFor(model => newsBlock.Body,new {@class = "form-control", style="height: 200px"})
				@ViewBag.Validation.GetError(newsBlock, "Body", "Описание не может быть пустым")
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="field-ta">URL</label>
			<div class="col-sm-5">
				@Html.TextBoxFor(model => newsBlock.Url,new {@class = "form-control"})
			</div>
		</div>
			<div class="form-group">
			<label class="col-sm-3 control-label" for="field-ta">Опубликовано</label>
			<div class="col-sm-5">
				@Html.CheckBoxFor(model => newsBlock.IsPublished)
			</div>
			</div>
			<div class="form-group">
			<div class="col-sm-7">
				</div>
				<button class="btn btn-green" type="submit">Изменить</button>
			</div>
		}
<div class="form-group">
</div>
<button class="btn btn-blue" onclick=" location.href = '@Url.Action("NewsIndex", "News")' ">Назад</button>