@using System.Web.UI.WebControls
@using Common.Tools
@using Inforoom2.Helpers
@using Inforoom2.Models
@using InforoomControlPanel.Helpers
@using NHibernate
<!DOCTYPE html>
@{
	string username = "";
	string password = "";
	Employee currentEmployee = ViewBag.CurrentEmployee;
}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="~/favicon.ico">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="Neon Admin Panel"/>
	<meta name="author" content=""/>

	<title>Панель управления | @ViewBag.Title</title>

	<link rel="stylesheet" href="~/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css?v=1">
	<link rel="stylesheet" href="~/assets/css/font-icons/entypo/css/entypo.css?v=1">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="~/assets/css/bootstrap.css?v=1">
	<link rel="stylesheet" href="~/assets/css/neon-core.css?v=1">
	<link rel="stylesheet" href="~/assets/css/neon-theme.css?v=1">
	<link rel="stylesheet" href="~/assets/css/neon-forms.css?v=2">
	<link rel="stylesheet" href="~/assets/css/custom.css?v=5">
	<link rel="stylesheet" href="~/Css/style.css?v=16"></link>

	<script src="~/assets/js/jquery-1.11.0.min.js?v=1"></script>

	<script> $.noConflict(); </script>

	<!--[if lt IE 9]><script src="~/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body">
<div class="page-container">
@Html.Hidden("imagePathOfProcess", Url.Content("~/Images/loading.gif"))
<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

<div class="sidebar-menu">

<div class="sidebar-menu-inner">

<header class="logo-env">

	<!-- logo -->
	<div class="logo hlink">
		<a href="@Url.Action("Index", "AdminAccount")">
			<i class="entypo-home"></i>
			<span class="title">Главная</span>
		</a>
	</div>

	<!-- logo collapse icon -->
	<div class="sidebar-collapse">
		<a href="#" class="sidebar-collapse-icon">
			<!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
			<i class="entypo-menu"></i>
		</a>
	</div>


	<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
	<div class="sidebar-mobile-menu visible-xs">
		<a href="#" class="with-animation">
			<!-- add class "with-animation" to support animation -->
			<i class="entypo-menu"></i>
		</a>
	</div>

</header>


<ul id="main-menu" class="main-menu">
<!-- add class "multiple-expanded" to allow multiple submenus to open -->
<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->

@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000000.ToString()))) {
	<li>
		<a>
			<i class="entypo-users"></i>
			<span class="title">Клиенты</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000001.ToString()))) {
				<li>
					<a href="@Url.Action("List", "Client")">
						<span class="title">Список клиентов</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000002.ToString()))) {
				<li>
					<a href="@Url.Action("ListOnline", "Client")">
						<span class="title">Онлайн</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000003.ToString()))) {
				<li>
					<a href="@Url.Action("Appeals", "Client")">
						<span class="title">Обращения</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000004.ToString()))) {
				<li>
					<a href="@Url.Action("RegistrationPhysical", "Client")">
						<span class="title">Зарегистрировать физ. лицо</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000005.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000005.ToString()))) {
				<li>
					<a href="@Url.Action("RegistrationLegal", "Client")">
						<span class="title">Зарегистрировать юр. лицо</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000006.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000006.ToString()))) {
				<li>
					<a href="@Url.Action("ClientRequest", "Client")">
						<span class="title">Создать заявку на регистрацию</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000007.ToString()) != null
                       || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000007.ToString()))) {
				<li>
					<a href="@Url.Action("RequestsList", "Client")">
						<span class="title">Заявки на регистрацию</span>
					</a>
				</li>
			    <li>
			        <a href="@Url.Action("RequestsList", "Client", new {justHybrid = true})">
			            <span class="title">Заявки на регистрацию (гибрид)</span>
			        </a>
			    </li>
            }
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_000008.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_000008.ToString()))) {
				<li>
					<a href="@Url.Action("AgentList", "Client")">
						<span class="title">Агенты</span>
					</a>
				</li>
			}
		</ul>
	</li>
}

@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_001000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_001000.ToString()))) {
	<li>
		<a>
			<i class="entypo-attention"></i>
			<span class="title">Сервисные бригады</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_001001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_001001.ToString()))) {
				<li>
					<a href="@Url.Action("Servicemen", "ConnectionTeam")">
						<span class="title">Сервисные инженеры</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_001002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_001002.ToString()))) {
				<li>
					<a href="@Url.Action("ServiceRequestList", "ServiceRequest")">
						<span class="title">Сервисные заявки</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_001003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_001003.ToString()))) {
				<li>
					<a href="@Url.Action("ConnectionTable", "ConnectionTeam")">
						<span class="title">График назначенных заявок</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_001004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_001004.ToString()))) {
				<li>
					<a href="@Url.Action("UnpluggedClientList", "ConnectionTeam")">
						<span class="title">Подключения клиентов</span>
					</a>
				</li>
			}
		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_002000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_002000.ToString()))) {
	<li>
		<a>
			<i class="entypo-picture"></i>
			<span class="title">Контент</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_002001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_002001.ToString()))) {
				<li>
					<a href="@Url.Action("QuestionIndex", "Question")">
						<span class="title">Вопросы и ответы</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_002002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_002002.ToString()))) {
				<li>
					<a href="@Url.Action("NewsIndex", "News")">
						<span class="title">Новости</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_002003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_002003.ToString()))) {
				<li>
					<a href="@Url.Action("SlideIndex", "Slide")">
						<span class="title">Слайды</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_002004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_002004.ToString()))) {
				<li>
					<a href="@Url.Action("BannerIndex", "Banner")">
						<span class="title">Баннеры</span>
					</a>
				</li>
            }
            @if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_002005.ToString()) != null
                 || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_002005.ToString())))
            {
            <li>
                <a href="@Url.Action("PriceListIndex", "PriceList")">
                    <span class="title">Прайс-листы</span>
                </a>
            </li>}
		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_003000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_003000.ToString()))) {
	<li>
		<a>
			<i class="entypo-user"></i>
			<span class="title">Сотрудники</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_003001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_003001.ToString()))) {
				<li>
					<a href="@Url.Action("EmployeeList", "Admin")">
						<span class="title">Сотрудники</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_003004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_003004.ToString()))) {
				<li>
					<a href="@Url.Action("PaymentsForEmployee", "Admin")">
						<span class="title">Работа сотрудников</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_003002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_003002.ToString()))) {
				<li>
					<a href="@Url.Action("RoleList", "Admin")">
						<span class="title">Роли</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_003003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_003003.ToString()))) {
				<li>
					<a href="@Url.Action("PermissionList", "Admin")">
						<span class="title">Права</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_003005.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_003005.ToString()))) {
				<li>
					<a href="@Url.Action("EmployeeSettings", "Admin")">
						<span class="title">Настройки</span>
					</a>
				</li>
			}

		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_004000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_004000.ToString()))) {
	<li>
		<a>
			<i class="entypo-mail"></i>
			<span class="title">Запросы пользователей</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_004001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_004001.ToString()))) {
				<li>
					<a href="@Url.Action("TicketIndex", "Ticket")">
						<span class="title">Запросы в техподдержку</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_004002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_004002.ToString()))) {
				<li>
					<a href="@Url.Action("CallMeBackTicketIndex", "Ticket")">
						<span class="title">Заявки на обратный звонок</span>
					</a>
				</li>
			}
		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005000.ToString()))) {
	<li>
		<a>
			<i class="entypo-plus"></i>
			<span class="title">Тарифы</span>
		</a>
		<ul class="visible">

			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005001.ToString()))) {
				<li>
					<a href="@Url.Action("PlanIndex", "Plans")">
						<span class="title">Тарифы</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005002.ToString()))) {
				<li>
					<a href="@Url.Action("HtmlPlanIndex", "Plans")">
						<span class="title">Тарифы HTML</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005003.ToString()))) {
				<li>
					<a href="@Url.Action("InternetPlanChangerIndex", "Plans")">
						<span class="title">Смена по истечению срока</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005004.ToString()))) {
				<li>
					<a href="@Url.Action("TvChannelList", "Plans")">
						<span class="title">ТВ каналы</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005005.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005005.ToString()))) {
				<li>
					<a href="@Url.Action("TvChannelGroupList", "Plans")">
						<span class="title">Группы ТВ каналов</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005006.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005006.ToString()))) {
				<li>
					<a href="@Url.Action("TvProtocolList", "Plans")">
						<span class="title">Протоколы для ТВ</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005007.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005007.ToString()))) {
				<li>
					<a href="@Url.Action("PackageSpeedList", "Plans")">
						<span class="title">Скорость</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005009.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005009.ToString()))) {
				<li>
					<a href="@Url.Action("FixedIpPrice", "Plans")">
						<span class="title">Стоимость фиксированного Ip</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_005008.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_005008.ToString()))) {
				<li>
					<a href="@Url.Action("SaleSettings", "Admin")">
						<span class="title">Настройки скидок</span>
					</a>
				</li>
			}
		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_006000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_006000.ToString()))) {
	<li>
		<a>
			<i class="entypo-plus"></i>
			<span class="title">Коммутаторы</span>
		</a>
		<ul class="visible">

			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_006001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_006001.ToString()))) {
				<li>
					<a href="@Url.Action("SwitchList", "Switch")">
						<span class="title">Коммутаторы</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_006002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_006002.ToString()))) {
				<li>
					<a href="@Url.Action("NetworkNodeList", "Switch")">
						<span class="title">Узлы связи</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_006003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_006003.ToString()))) {
				<li>
					<a href="@Url.Action("RegionIpPools", "Switch")">
						<span class="title">IP-пулы регионов</span>
					</a>
				</li>
			}
		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007000.ToString()))) {
	<li>
		<a>
			<i class="entypo-plus"></i>
			<span class="title">Адреса</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007001.ToString()))) {
				<li>
					<a href="@Url.Action("SwitchAddressList", "Address")">
						<span class="title">Адреса коммутаторов</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007002.ToString()))) {
				<li>
					<a href="@Url.Action("CityList", "Address")">
						<span class="title">Города</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007003.ToString()))) {
				<li>
					<a href="@Url.Action("RegionList", "Address")">
						<span class="title">Регионы</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007004.ToString()))) {
				<li>
					<a href="@Url.Action("StreetList", "Address")">
						<span class="title">Улицы</span>
					</a>
				</li>
			}

			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007005.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007005.ToString()))) {
				<li>
					<a href="@Url.Action("HouseList", "Address")">
						<span class="title">Дома</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_007006.ToString()) != null
						 || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_007006.ToString()))){
				<li>
					<a href="@Url.Action("Index", "ConnectedHouses")">
						<span class="title">Подключенные Дома</span>
					</a>
				</li>
			}
		</ul>
	</li>
}
@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_008000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_008000.ToString()))) {
	<li>
		<a>
			<i class="entypo-plus"></i>
			<span class="title">Оборудование</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_008001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_008001.ToString()))) {
				<li>
					<a href="@Url.Action("ShowHardware", "HardwareTypes")">
						<span class="title">Список оборудования</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_008002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_008002.ToString()))) {
				<li>
					<a href="@Url.Action("ClientList", "HardwareTypes")">
						<span class="title">Список клиентов</span>
					</a>
				</li>
			}
		</ul>
	</li>
}

@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009000.ToString()) != null
     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009000.ToString()))) {
	<li>
		<a>
			<i class="entypo-plus"></i>
			<span class="title">Отчеты</span>
		</a>
		<ul class="visible">
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009001.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009001.ToString()))) {
				<li>
					<a href="@Url.Action("Client", "SpreadSheet")">
						<span class="title">По клиентам</span>
					</a>
				</li>
			}

			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009002.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009002.ToString()))) {
				<li>
					<a href="@Url.Action("WriteOffs", "SpreadSheet")">
						<span class="title">По списаниям</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009003.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009003.ToString()))) {
				<li>
					<a href="@Url.Action("Payments", "SpreadSheet")">
						<span class="title">По платежам</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009004.ToString()) != null
			     || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009004.ToString()))) {
				<li>
					<a href="@Url.Action("PaymentList", "Payments")">
						<span class="title">По банковским выпискам</span>
					</a>
				</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009005.ToString()) != null
						 || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009005.ToString())))
			{
			<li>
				<a href="@Url.Action("PaymentByEmployees", "Payments")">
					<span class="title">Платежи по регистраторам</span>
				</a>
			</li>
			}
			@if (currentEmployee.Permissions.FirstOrDefault(s => s.Name == EmployeePermissionViewHelper.FormPermissions.Block_009006.ToString()) != null
							 || currentEmployee.Roles.Any(s => s.Permissions.Any(d => d.Name == EmployeePermissionViewHelper.FormPermissions.Block_009006.ToString())))
			{
			<li>
				<a href="@Url.Action("LogRegResultList", "Admin")">
					<span class="title">Логирование</span>
				</a>
			</li>
			}
		</ul>
	</li>
}
</ul>
</div>
</div>
<div class="main-content">
	<div class="row">
		<!-- Profile Info and Notifications -->
		<div class="col-md-6 col-sm-8 clearfix">
		</div>
		<!-- Raw Links -->
		<div class="col-md-6 col-sm-4 clearfix hidden-xs">

			<ul class="list-inline links-list pull-right">
				<li>@currentEmployee.Name</li>
				<li class="sep"></li>
				<li>
					<a id="logoutLink" href="@Url.Action("AdminLogout", "AdminAccount")">
						Выход <i class="entypo-logout right"></i>
					</a>
				</li>
			</ul>
		</div>

	</div>
	<hr/>
	<ol class="breadcrumb bc-3 server-message">
		<li>
			<a href="@Url.Action("Index", "AdminAccount")"><i class="fa-home"></i>Панель управления</a>
		</li>
		<li>
			<a href="@Url.Action("Index")">@ViewBag.BreadCrumb</a>
		</li>
		<li class="active">
			<strong>@ViewBag.Title</strong>
		</li>
	</ol>
	<h2>@ViewBag.Title</h2>
	<br/>
	<div class="@ViewBag.ControllerName @ViewBag.ActionName">
		@RenderBody()
	</div>
	<!-- lets do some work here... -->
	<!-- Footer -->
	<footer class="main">

		Панель администрирования - @SystemTime.Now().Year

	</footer>
</div>
</div>

<!-- Техническая информация -->
<div class="JavascriptParams" style="display: none">
	@{
		var dic = ViewBag.JavascriptParams as Dictionary<string, string>;
		if (dic != null && dic.Count != 0) {
			foreach (var key in dic.Keys) {
				<div id="@key">@dic[key]</div>
			}
		}
	}
</div>
    
@Html.Partial("Partial/modalConfirmation")

<!-- Bottom scripts (common) -->
<script src="~/assets/js/gsap/main-gsap.js"></script>
<script src="~/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="~/assets/js/joinable.js"></script>
<script src="~/assets/js/resizeable.js"></script>
<script src="~/assets/js/neon-api.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="~/assets/js/neon-custom.js"></script>
	
<!-- Demo Settings -->
<script src="~/assets/js/neon-demo.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.1.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="~/Scripts/Helpers.js"></script>
<script type="text/javascript" src="~/Scripts/EventEmitter.js"></script>
<script type="text/javascript" src="~/Scripts/Window.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datepicker.ru.min.js"></script>
<script type="text/javascript" src="~/Scripts/ControlPanel.js?v=5"></script>
<script type="text/javascript" src="~/Scripts/modalConfirmation.js?v=1"></script>
<script type="text/javascript" src="~/Scripts/ListItemPositionChange.js"></script>

@RenderSection("JavaScript", required: false)
@{
	var IeWaterline = "";
	#if DEBUG
	IeWaterline = "<div class='IeWaterline  doNotPrint'></div>";
	@Html.Raw(IeWaterline)
	#endif
}


	@{
		if (ViewBag.SessionToRefresh != null)
		{
			var sessionToRefresh = (ISession)ViewBag.SessionToRefresh;
			sessionToRefresh.Transaction.Rollback(); 
        }
	}
</body>
</html>