@using System.Activities.Expressions
@using System.Activities.Statements
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "График назначенных заявок";
	var team = ViewBag.Servicemen;
	DateTime date = ViewBag.ServicemenDate;
	ServicemenScheduleItem scheduleItem = ViewBag.ServicemenScheduleItem;
	var regions = new List<Region>();
	regions.Add(new Region() { Id = 0, Name = "Все" });
	regions.AddRange(ViewBag.Regions);
	Region region = ViewBag.Region ?? regions.First();
}
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/ClientController.ServiceRequest.js")"></script>}
<div class="servicemen panel panel-primary col-md-6">
	<div class="wrapper">
		<form class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label class="col-sm-1 control-label">Дата</label>
				<iv class="col-sm-3">
					<div class="input-group">
						<input type="text" data-format="dd.mm.yyyy" class="form-control datepicker" value="@date.ToString("dd.MM.yyyy")">
										
						<div class="input-group-addon">
							<a href="#"><i class="entypo-calendar"></i></a>
						</div>
					</div>
				</iv>
				<label class="col-sm-2 control-label">Регион</label>
				<div class="col-sm-4"> 
					@Html.DropDownListExtendedFor(i => region, regions, obj => obj.Name, null,
						new { @class = "regionId form-control", @Id = "regionId" }, region.Id)
				</div>
			</div>
		</form>
		<table class="table table-bordered table-striped datatable dataTable no-footer">
			<thead>
				<tr>
					<th class="time left"></th>
					@foreach (var employee in team) {
						var cl = "employee" + employee.Id;
						<th class="@cl">@employee.Employee.Name</th>
					}
				</tr>
			</thead>
			<tbody>
				@{
					var day = scheduleItem != null && scheduleItem.BeginTime != null ? scheduleItem.BeginTime.Value.Date : date.Date;
					var startHour = 9;
					var endHour = 18;
					var nowHour = startHour;
					var NowMin = 0;
					var step = ViewBag.TableTimeStep;
					var showedRequests = new List<object>();
				}
				@while (nowHour < endHour) {
					<tr>
						@{ var time = day.AddHours(nowHour).AddMinutes(NowMin); }
						<th class="time left">@time.TimeOfDay.ToString().Substring(0, 5)</th>
						@foreach (ServiceMan employee in team) {
							var requestFlag = false;
							var cl = "employee" + employee.Id;

							//Отображение сервисных заявок
							foreach (var item in employee.SheduleItems) {
								if (Convert.ToDateTime(item.BeginTime.Value.ToString("dd.MM.yyyy HH:mm:00")) <= time
									&& Convert.ToDateTime(item.EndTime.Value.ToString("dd.MM.yyyy HH:mm:00")) > time)
								{
									requestFlag = true;
									if (showedRequests.Contains(item)) {
										continue;
									}
									showedRequests.Add(item);
									//Надо вычислить сколько ячеек будет занимать наша запись
									var diff = item.EndTime.Value - item.BeginTime.Value;
									double span = Math.Ceiling(diff.TotalMinutes / step);
									<td class="@cl @item.RequestType.GetDescription() request @(item == scheduleItem ? "this" : "")" rowspan="@(span)">
										<div class="description">
											<a href="@Url.Action("AttachRequest", "ConnectionTeam",
												                                new {
													                                id = (item.RequestType == ServicemenScheduleItem.Type.ServiceRequest ?
														                                item.ServiceRequest.Id : item.Client.Id),
													                                type = item.RequestType
												                                })">@item.Client.PhysicalClient.FullName
												<p>(@item.BeginTime.Value.ToString("HH:mm") - @item.EndTime.Value.ToString("HH:mm") )</p></a>
										</div>
										<div class="contact">Тел:@item.GetPhone()</div>
										<div class="address">@item.GetAddress()</div>
										<div class="contact">@item.Comment</div>
									</td>
								}
							}
							if (!requestFlag) {
								var active = "";
								if (scheduleItem != null && scheduleItem.ServiceMan == employee && scheduleItem.BeginTime == time) {
									active = "active";
								}
								<td class="@cl time @active">@time.TimeOfDay.ToString().Substring(0, 5)</td>
							}
						}
					</tr>
					NowMin += step;
					if (NowMin >= 60) {
						nowHour++;
						NowMin = 0;
					}
				}
			</tbody>
		</table>
	</div>
</div>