@model Client
@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	Layout = "";
	Client client = Model;
	var paymentsSum = client.Payments.Sum(s => s.Sum);
	string formClientType = "";
	if (client.PhysicalClient != null) {
		formClientType = "InfoPhysical";
	}
	else {
		formClientType = "InfoLegal";
	}
}
<div class="panel panel-default blockJsLockControll">
	@using (@Html.BeginForm(formClientType, "Client", null, FormMethod.Post, new {@id = "ClientEditorForm", @class = "form-horizontal form-groups-bordered"})) {
		@Html.HiddenFor(o => client.Id)
		<input id="subViewName" name="subViewName" type="hidden" value="_Payments">
		@* Блок пустой *@
		<div id="emptyBlock_payments" class="emptyBlock"></div>
	}
	@* Блок просмотра *@
	<div id="defaultBlock_payments" class="defaultBlock hid">
		<div class="panel-heading">
			<h3 class="panel-title bold">
				<a class="c-pointer" onclick="changeVisibility('emptyBlock_payments')">Платежи</a><span style="padding-left: 10px; font-weight: bold; color: #C70E0E;">всего: @paymentsSum.ToString("0.00") руб.</span>
			</h3>
			@if (client.LegalClient==null) {
			<p class="navbar-text navbar-right" style="margin: 0px; margin-top: 4px; margin-right: 5px;">
				<a class="btn btn-white  btn-sm btn-icon icon-right" style="font-size: 12px;" data-toggle="modal" data-target="#ModelForPaymentsAdd">
					<i class="entypo-box" style="background: #0072BC;"></i>
					Пополнение баланса
				</a>
			</p>
			}
		</div>
		<div class="panel-body">
			<table id="table-2" class="table hiddenOverflow table-bordered table-striped datatable dataTable no-footer clientTable border-right-white writeOffTable" role="grid" aria-describedby="table-2_info">
				<thead>
				<tr role="row">
					<th class="sorting" tabindex="0" aria-controls="table-2">

					</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">
						Номер платежа
					</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">
						Платеж зарегистрировал
					</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">
						Дата оплаты клиентом
					</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">
						Дата регистрации платежа
					</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">
						Сумма
					</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">
						Комментарий
					</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var item in client.Payments.OrderByDescending(s => s.PaidOn)) {
					<tr class="payment @(item.Virtual.HasValue && item.Virtual.Value && item.BillingAccount ? "green" : !item.BillingAccount ? "red" : "")">
						<td class="buttons">
							@if (item.BillingAccount) {

								<a class="cancel" title="отменить платеж" data-toggle="modal" data-target="#ModelForPaymentsCancel" onclick="paymentCancel('@item.Id')">
									<span>отмена</span>
								</a>
								<a class="move" title="перевести платеж" data-toggle="modal" data-target="#ModelForPaymentsMove" onclick="paymentMove('@item.Id')">
									<span>перевод</span>
								</a>
							}
						</td>
						<td>
							@if (item.Virtual.HasValue && item.Virtual.Value && item.Client.IsPhysicalClient) {
								<span>@item.Id</span>
							}
							else {
								<a target="_blank" href="@Url.Action("ContractOfAgency", new {item.Id})">@item.Id</a>
							}

						</td>
						<td>
							@(item.Virtual.HasValue && item.Virtual.Value ? "Инфорум" : "") @(item.Employee != null && (!string.IsNullOrEmpty(item.Employee.Name))
								                                                                  ? (item.Virtual.HasValue && item.Virtual.Value ? " - " : "") + item.Employee.Name : "")
						</td>
						<td>@item.PaidOn</td>
						<td>@item.RecievedOn</td>
						<td>@item.Sum.ToString("0.00")</td>
						<td>@Html.Raw(item.IsDuplicate? "<strong>( дубликат )</strong>" : "") @item.Comment</td>
					</tr>
				}
				</tbody>
			</table>
			<table>
				<tbody>
				<tr>
					<td>
						<div class="legend-mark" style="background-color: #D9FBDC;"></div></td>
					<td>Бонусный платеж</td>
					<td>
						<div class="legend-mark" style="background-color: #FFCFCF;"></div></td>
					<td>Платеж не обработан</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

@Html.Partial("subviews/modelview/_PaymentAdd", client)
@Html.Partial("subviews/modelview/_PaymentCancel", client)
@Html.Partial("subviews/modelview/_PaymentMove", client)