<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - My ASP.NET Application</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				@Html.ActionLink("Главная", "Index", "Home", null, new { @class = "navbar-brand" })
				@Html.ActionLink("Вопросы и ответы", "Index", "Faq", null, new { @class = "navbar-brand" })
				@Html.ActionLink("Заявка на подключение", "Index", "ClientRequest", null, new { @class = "navbar-brand" })
				@Html.ActionLink("About", "Index", "About", null, new { @class = "navbar-brand" })
				@if (Request.IsAuthenticated) {
					<text>Welcome <strong>@User.Identity.Name</strong>!
						[ @Html.ActionLink("Выход", "Logout", "Account") ]
						@Html.ActionLink("Личный кабинет", "Index", "Personal")
						@if (User.IsInRole("Admin")) {
							@Html.ActionLink("Панель администратора", "AdminIndex", "Home")
						} </text>
				}
				else {
					@:[ @Html.ActionLink("Вход", "Login", "Account") ]
				}
			</div>
		</div>
	
		<div class="JavascriptParams" style="display: none">
			@{
				var dic = ViewBag.JavascriptParams as Dictionary<string, string>;
				if (dic != null && dic.Count != 0) {
					foreach (var key in dic.Keys) {
						<div id="@key">@dic[key]</div>
					}
				}
			}
		</div>
		<div class ="HtmlTemplates" style="display: none">
			<div id="WindowLayout"class='window'>
				<div class='header'>
					<div class='title'></div>
					<button class="button close">close</button>
				</div>
				<div class='wrap'></div>
			</div>
			<div id="CityWindow" >
				<div>
					<div id="userCity">Мы определили, что вы находитесь в городе <span class="UserCity">@(ViewBag.UserCity)</span></div>
					<div class="buttons">
						<button class="button ok">Да</button>
						<button class="button cancel">Нет</button>
					</div>
				</div>
			</div>
			<div id ="SelectCityWindow" >
				<div>Выберете город:</div>
				<div class="cities">
					@{
						foreach (var city in ViewBag.Cities) {
							<a href="#">@city</a>
						}
					}
				</div>
				<div class="buttons">
					<button class="button cancel">Назад</button>
				</div>
			</div>
		</div>
		<div class="cities container body-content">
			Ваш город: <a href="#">@(ViewBag.UserCity)</a>
			@{
				foreach (var city in ViewBag.Cities) {
					if (city != ViewBag.UserCity) {
						<a href="#">@city</a>
					}
				}
			}
		</div>
			
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	
	</body>
	<script src="~/Scripts/jquery-2.1.1.js"></script>
	<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
	
	<link href="@Url.Content("~/Css/style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Css/jquery-ui.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Css/jquery-ui.theme.css")" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/Helpers.js"></script>
	<script src="~/Scripts/EventEmitter.js"></script>
	<script src="~/Scripts/Inforoom.js"></script>
	<script src="~/Scripts/Window.js"></script>
	
	@RenderSection("JavaScript", required: false)
</html>