@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
<!DOCTYPE html>
@{
	string username = "";
	string password = "";
}
<html>
	<head>
		<title>@(ViewBag.Title)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../../css/main.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" />
		<link href="../../css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="leftbg"></div>
		<div class="rightbg"></div>
		<div class="wrapper">
			<div class="errorContainer"></div>
			<div class="top">
				<div class="tab">
					<div class="whiteleft"></div>
					<div class="blackleft"></div>
					<div class="city">
						<div class="name">@(ViewBag.UserCity)</div>
						<div class="arrow"></div>
						<div class="cities">
							@{
								foreach (var city in ViewBag.Cities) {
									if (city != ViewBag.UserCity) {
										<a href="#">@city</a>
									}
								}
							}
						</div>
					</div>
					<div class="whiteright"></div>
					<div class="blackright"></div>
				</div>
				@if (Request.IsAuthenticated && ViewBag.ClientInfo != null) {
					<div class="logon">
						<p>	@ViewBag.ClientInfo </p>
						@using (Html.BeginForm("Profile", "Personal", FormMethod.Get, new { @class = "logonform" })) {
							<input type="submit" value="Личный кабинет">
							}
						@if(!ViewBag.NetworkClientFlag){
							@Html.ActionLink("Выход", "Logout", "Account")
						}
					</div>
				}
				else {
					<div class="login">
						@using (Html.BeginForm("Login", "Account", FormMethod.Post, null)) {
							@Html.TextBoxFor(model => username, new { @class = "user", placeholder = "Номер счета" })
							@Html.PasswordFor(model => password, new { @class = "user", placeholder = "Пароль" })
							<input class="click" type="submit" value="Войти">
						}
					</div>
				}
			</div>
			<div class="header">
				<a href="/">
					<div class="inforum">
					</div>
				</a>
				<form method="Pos" action="/ClientRequest">
					<input class="connect" type="submit" value="Подключиться">
				</form>
				<input class="call" type="submit" value="Обратный звонок">
				<div class="phone">@ViewBag.RegionOfficePhoneNumber</div>
			</div>
			<div class="menu">
				<ul>
					@{
						var menu = new List<string[]>();
						menu.Add(new[] { "Главная", "Index", "Home" });
						menu.Add(new[] { "Тарифы", "Plans", "Home" });
						menu.Add(new[] { "Заявка на подключение", "Index", "ClientRequest" });
						menu.Add(new[] { "Для бизнеса", "Index", "Bussiness" });
						menu.Add(new[] { "Вопросы и ответы", "Index", "Faq" });
						menu.Add(new[] { "Оплата", "Payment", "About" });
						menu.Add(new[] { "О компании", "Details", "About" });
						foreach (var item in menu) {
							<li>@Html.ActionLink(item[0], item[1], item[2], null, new { @class = ViewBag.ControllerName == item[2] && ViewBag.ActionName == item[1] ? "active" : "" }) </li>
						}
					}
				</ul>
			</div>
			<div class="page @(ViewBag.ControllerName) @(ViewBag.ActionName)">
				@RenderBody()
			</div>
			<div class="features">
				<div class="requisite">
					<a href="/">
						<div class="logo"></div>
					</a>
					<div class="address">
						<p>© 2014 — ООО «Инфорум»</p> 
						<p>г. Воронеж, Студенческая ул. д. 12 А</p>
					</div>
				</div>
				<div class="support">
					<ul>
						<li>@Html.ActionLink("Подключен ли мой дом?", "Index", "IsMyHouseConnected")</li>
						<li>@Html.ActionLink("Протестировать скорость", "Index", "TestSpeed")</li>
						<li class="tech">@Html.ActionLink("Техподдержка", "TechSupport", "Faq")<sup>24</sup></li>
					</ul>
				</div>
				<div class="support">
					<ul>
						<li>@Html.ActionLink("Личный кабинет", "Profile", "Personal")</li>
						<li>@Html.ActionLink("Тарифы", "Plans", "Home", null, null)</li>
						<li>@Html.ActionLink("Заявка на подключение", "Index", "ClientRequest", null, null)</li>
						<li>@Html.ActionLink("Вопросы и ответы", "Index", "Faq", null, null)</li>
						<li>@Html.ActionLink("Оплата", "Payment", "About", null, null)</li>
					</ul>
				</div>
				<div class="support">
					<ul>
						<li>@Html.ActionLink("О компании", "Details", "About", null, null)</li>
						<li>@Html.ActionLink("Для бизнеса", "Index", "Bussiness")</li>
						<li>@Html.ActionLink("Оферта", "Index", "OfferContract", null, null)</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Техническая информация -->
		<div class="JavascriptParams" style="display: none">
			@{
				var dic = ViewBag.JavascriptParams as Dictionary<string, string>;
				if (dic != null && dic.Count != 0) {
					foreach (var key in dic.Keys) {
						<div id="@key">@dic[key]</div>
					}
				}
			}
		</div>
		<div class ="HtmlTemplates" style="display: none">
			
			<div id="WindowLayout" class='window outer'>
				<div class="cell">
					<div class="window inner">
						<div class='header'>
							<div class='title'></div>
							<div class="button close"></div>
						</div>
						<div class='wrap'></div>
					</div>
				</div>
			</div>
			<div class="cityWindow" id="CityWindow" >
				<div>
					@if (ViewBag.UserCity != null && ViewBag.UserCityBelongsToUs) {
						<div id="userCity" class="whiteblocktext">
							<p>Мы определили, что вы находитесь в регионе <span class="UserCity">@(ViewBag.UserCity)</span></p>
						</div>
						<div class="buttons">
							<button class="click cancel">Нет</button>
							<button class="click ok">Да</button>
						</div>
					}
					else {
						if (ViewBag.UserCity != null) {
							<div id="userCity" class="whiteblocktext">
								<p>Мы определили, что вы находитесь в регионе <span class="UserCity">@(ViewBag.UserCity)</span>, но, к сожалению, мы не обслуживаем этот регион. Выберите регион из списка:</p>
							</div>
						}
						else {
							<div id="userCity" class="whiteblocktext">
								<p>Нам не удалось определить в каком регионе вы находитесь. Выберите регион из списка:</p>
							</div>
						}
						<div class="cities">
							@foreach (var city in ViewBag.Cities) {
								<a href="#">@city</a>
							}
						</div>
					}
				</div>
			</div>
			<div class="cityWindow" id ="SelectCityWindow" >
				<div class="whiteblocktext"><p>Выберите регион из списка:</p></div>
				<div class="cities">
					@{
						foreach (var city in ViewBag.Cities) {
							<a href="#">@city</a>
						}
					}
				</div>
				<div class="buttons">
					<button class="button cancel">Назад</button>
				</div>
			</div>
			<div class="cities container body-content">
				Ваш город: <a href="#">@(ViewBag.UserCity)</a>
				@{
					foreach (var city in ViewBag.Cities) {
						if (city != ViewBag.UserCity) {
							<a href="#">@city</a>
						}
					}
				}
			</div>
			<div class="cityWindow" id ="CallMeBackWindow" >
				@{
					CallMeBackTicket ticket = ViewBag.CallMeBackTicket;
					ValidationRunner validationRunner = ViewBag.Validation;
					String action = ViewBag.ActionName.ToString();
					String controller = ViewBag.ControllerName.ToString();
				}
				@using (@Html.BeginForm("SubmitCallMeBackTicket", controller, new { actionString = action, controllerString = controller}, FormMethod.Post)) {
					<div class="whiteblocktext">
						<p>Наш оператор свяжется с вами в течении дня.
						</p>
					</div>
					<div class="applications">
						<div class="label">Имя:<sup>*</sup></div>
						@Html.ValidationEditor(validationRunner, ticket, "Name", new { @class = "application entry" }, HtmlTag.input, HtmlType.none)
						<div class="label">Номер телефона:<sup>*</sup></div>
						@Html.ValidationEditor(validationRunner, ticket, "PhoneNumber", new { @class = "application entry" }, HtmlTag.input, HtmlType.none)
						<div class="label">Комментарий:</div>
						@Html.ValidationEditor(validationRunner, ticket, "Text", new { @class = "application entry" }, HtmlTag.textarea, HtmlType.none)
					</div>
					<div class="definitely"><sup>*</sup>- обязательно для заполнения</div>
					<div class="buttons">
						<input class="contacting" type="submit" value="Связаться">
					</div>
				}
			</div>
			<div id="windowButtons" class="buttons">
				<button class="click ok">Да</button>
				<button class="click cancel">Нет</button>
			</div>
			<div id="notification" class="notification font-header"><span class="message"></span> <div class="hide">[скрыть]</div></div>
		</div>
		<script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.1.js"></script>
		<script type="text/javascript" src="~/Scripts/Helpers.js"></script>
		<script type="text/javascript" src="~/Scripts/EventEmitter.js"></script>
		<script type="text/javascript" src="~/Scripts/Inforoom.js"></script>
		<script type="text/javascript" src="~/Scripts/Window.js"></script>
		@RenderSection("JavaScript", required: false)
	</body>
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function () {
			try {
				w.yaCounter28020399 = new Ya.Metrika({
					id: 28020399
				});
			} catch (e) { }
		});

		var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28020399" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>