<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - My ASP.NET Application</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				@Html.ActionLink("Home", "Index", "Home", null, new {@class = "navbar-brand"})
				@Html.ActionLink("FAQ", "Index", "Faq", null, new {@class = "navbar-brand"})
				@Html.ActionLink("Request", "Index", "ConnectionRequest", null, new {@class = "navbar-brand"})
				@Html.ActionLink("About", "Index", "About", null, new {@class = "navbar-brand"})
				@if (Request.IsAuthenticated) {
					<text>Welcome <strong>@User.Identity.Name</strong>!
						[ @Html.ActionLink("Logout", "Logout", "Account") ]</text>
				}
				else {
					@:[ @Html.ActionLink("Login", "Login", "Account") ]
				}
			</div>
		</div>
	
		<nav>
			<ul id="menu">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				@if (User.IsInRole("admin")) {
					<li>@Html.ActionLink("Admin", "AdminIndex", "Home")</li>
				}
			</ul>
		</nav>
		
		<div id="dialogMessage" style="display: none">
			<div id="userCity">Мы определили, что вы находитесь в @(ViewBag.UserCity)е</div>
		</div>  
		
		<div id="viewBagCity" style="display: none">@(ViewBag.UserCity)</div>
		
		<div id ="citiesList" style="display: none" >
			<form action="#">
				<fieldset>
					<label for="city">Выберете город</label>
					<select name="city" id="city" onchange=" cli.onCityChanged() " >
						<option>Воронеж</option>
						<option>Борисоглебск</option>
						<option selected="selected">Москва</option>
					</select>
				</fieldset>
			</form>
		</div>

		<div class="container body-content">
			Ваш город: <a href="#" onclick="cli.showRegionDialog()" id="cityLink">@(ViewBag.UserCity)</a>
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
			</footer>
		</div>
	</body>
	<script src="~/Scripts/jquery-2.1.1.js"></script>
	<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
	
	<link href="@Url.Content("~/Css/style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Css/jquery-ui.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Css/jquery-ui.theme.css")" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/inforoom.js"></script>
	@RenderSection("JavaScript", required: false)
</html>