<!DOCTYPE html>

@{
	string username = "";
	string password = "";
}
<html>
	<head>
		<title>Inforum</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../../css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div class="leftbg"></div>
		<div class="rightbg"></div>
		<div class="wrapper">
			<div class="top">
				<div class="tab">
					<div class="whiteleft"></div>
					<div class="blackleft"></div>
					<div class="city">
						<div class="name">@(ViewBag.UserCity)</div>
						<div class="arrow"></div>
						<div class="cities">
							@{
								foreach (var city in ViewBag.Cities) {
									if (city != ViewBag.UserCity) {
										<a href="#">@city</a>
									}
								}
							}
						</div>
					</div>
					<div class="whiteright"></div>
					<div class="blackright"></div>
				</div>
				<div class="login">
					@if (Request.IsAuthenticated) {
						<text>
							@ViewBag.ClientInfo
							[ @Html.ActionLink("Выход", "Logout", "Account") ]
							@Html.ActionLink("Личный кабинет", "Profile", "Personal")

							@if (User.IsInRole("Admin")) {
								@Html.ActionLink("Панель администратора", "AdminIndex", "Home")
							} 
						</text>
					}
					else {
						using (Html.BeginForm("Login", "Account", new { returnUrl = @Request.Url }, FormMethod.Post, null)) {
							@Html.TextBoxFor(model => username, new { @class = "user", placeholder = "Номер счета" })
							@Html.PasswordFor(model => password, new { @class = "user", placeholder = "Пароль" })
							<input class="click" type="submit" value="Войти">
						}
					}
				</div>
			</div>
			<div class="header">
				<a href="/">
					<div class="inforum">
					</div>
				</a>
				<form method="Pos" action="/ClientRequest">
				<input class="connect" type="submit" value="Подключиться">
				</form>
				<input class="call" type="submit" value="Обратный звонок">
				<div class="phone">8 800 200-00-32</div>
			</div>
			<div class="menu">
				<ul>
				@{
					var menu = new List<string[]>();
					menu.Add(new []{"Главная", "Index", "Home"});
					menu.Add(new []{"Тарифы", "TariffPlans", "Home"});
					menu.Add(new []{"Заявка на подключение", "Index", "ClientRequest"});
					menu.Add(new []{"Для бизнеса", "Index", "ClientRequest"});
					menu.Add(new []{"Вопросы и ответы", "Index", "Faq"});
					menu.Add(new []{"Оплата", "Index", "Faq"});
					menu.Add(new []{"О компании", "Index", "Faq"});
					foreach(var item in menu) {
						<li>@Html.ActionLink(item[0], item[1], item[2], null, new {@class = ViewBag.ControllerName == item[2] && ViewBag.ActionName == item[1] ? "active" : ""}) </li>
					}
				}
				</ul>
			</div>
			<div class="@(ViewBag.ControllerName) @(ViewBag.ActionName)">
				@RenderBody()
			</div>
			<div class="features">
				<div class="requisite">
					<div class="logo"></div>
					<div class="address">
						<p>© 2014 — ООО «Инфорум»</p> 
						<p>г. Воронеж, Студенческая ул. д. 12</p>
					</div>
				</div>
				<div class="support">
					<ul>
						<li>Подключен ли мой дом?</li>
						<li>Протестировать скорость</li>
						<li class="tech">Техподдержка<sup>24</sup></li>
					</ul>
				</div>
				<div class="support">
					<ul>
						<li>@Html.ActionLink("Личный кабинет", "Profile", "Personal")</li>
						<li>@Html.ActionLink("Тарифы", "TariffPlans", "Home", null, null)</li>
						<li>@Html.ActionLink("Заявка на подключение", "Index", "ClientRequest", null, null)</li>
						<li>@Html.ActionLink("Вопросы и ответы", "Index", "Faq", null, null)</li>
						<li>Оплата</li>
					</ul>
				</div>
				<div class="support">
					<ul>
						<li>О компании</li>
						<li>Для бизнеса</li>
						<li>@Html.ActionLink("Оферта", "Index", "OfferContract", null, null)</li>
						<li>Реквизиты</li>
					</ul>
				</div>
			</div>
		</div>
<!-- Техническая информация -->
		<div class="JavascriptParams" style="display: none">
			@{
				var dic = ViewBag.JavascriptParams as Dictionary<string, string>;
				if (dic != null && dic.Count != 0) {
					foreach (var key in dic.Keys) {
						<div id="@key">@dic[key]</div>
					}
				}
			}
		</div>
		<div class ="HtmlTemplates" style="display: none">
			
			<div id="WindowLayout" class='window outer'>
				<div class="cell">
					<div class="window inner">
						<div class='header'>
							<div class='title'></div>
							<button class="button close">close</button>
						</div>
						<div class='wrap'></div>
					</div>
					</div>
			</div>
			<div id="CityWindow" >
				<div>
					<div id="userCity">Мы определили, что вы находитесь в городе <span class="UserCity">@(ViewBag.UserCity)</span></div>
					<div class="buttons">
						<button class="button ok">Да</button>
						<button class="button cancel">Нет</button>
					</div>
				</div>
			</div>
			<div id ="SelectCityWindow" >
				<div class="cities">
					@{
						foreach (var city in ViewBag.Cities) {
							<a href="#">@city</a>
						}
					}
				</div>
				<div class="buttons">
					<button class="button cancel">Назад</button>
				</div>
			</div>
			<div class="cities container body-content">
				Ваш город: <a href="#">@(ViewBag.UserCity)</a>
				@{
					foreach (var city in ViewBag.Cities) {
						if (city != ViewBag.UserCity) {
							<a href="#">@city</a>
						}
					}
				}
			</div>
		</div>

	<script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.1.js"></script>
	<script type="text/javascript" src="~/Scripts/Helpers.js"></script>
	<script type="text/javascript" src="~/Scripts/EventEmitter.js"></script>
	<script type="text/javascript" src="~/Scripts/Inforoom.js"></script>
	<script type="text/javascript" src="~/Scripts/Window.js"></script>
	@RenderSection("JavaScript", required: false)
	</body>
</html>