<nav>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			@Html.ActionLink("FAQ", "AdminQuestionIndex", "AdminQuestion", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Вопросы", "AdminTicketIndex", "AdminTicket", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Новости", "AdminNewsIndex", "AdminNews", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Города", "AdminAddressCity", "AdminAddress", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Регионы", "AdminAddressRegion", "AdminAddress", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Улицы", "AdminAddressStreet", "AdminAddress", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Дома", "AdminAddressHouse", "AdminAddress", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Адреса", "AdminAddressAddress", "AdminAddress", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Адреса маршрутизаторов", "AdminAddressSwitchAddress", "AdminAddress", null, new { @class = "navbar-brand" })
			@Html.ActionLink("Тарифы", "AdminPlan", "AdminPlan", null, new { @class = "navbar-brand" })
		</div>
	</div>
</nav>