<div class="cabinet descript">
	<ul>
		<li>@Html.ActionLink("Профиль", "Profile", "Personal")</li>
			<li>@Html.ActionLink("История баланса", "Payment", "Personal")</li>
			<li>@Html.ActionLink("Доверительный платеж", "Credit", "Personal")</li>
			<li>@Html.ActionLink("Тарифы", "Tariffs", "Personal")</li>
			<li>@Html.ActionLink("Услуги", "Service", "Personal")</li>
			<li>@Html.ActionLink("Данные пользователя", "UserDetails", "Personal")</li>
			<li>@Html.ActionLink("Уведомления", "Notifications", "Personal")</li>
			<li>@Html.ActionLink("Бонусные программы", "Bonus", "Personal")</li>
	</ul>
</div>
