@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/PersonalController.js")"></script>}
@{

}

<h2>@ViewBag.Title</h2>


<nav>
	<div id="tabs">
		<ul id="personalMenu">
		<li>@Html.ActionLink("Профиль", "ShowProfile", "Personal")</li>
			<li>@Html.ActionLink("Пополнения счета и платежи", "Payment", "Personal")</li>
			<li>@Html.ActionLink("Доверительный платеж", "Credit", "Personal")</li>
			<li>@Html.ActionLink("Тарифы", "Plans", "Personal")</li>
			<li>@Html.ActionLink("Услуги", "Service", "Personal")</li>
			<li>@Html.ActionLink("Данные пользователя", "UserDetails", "Personal")</li>
			<li>@Html.ActionLink("Уведомления", "Notifications", "Personal")</li>
			<li>@Html.ActionLink("Бонусные программы", "Bonus", "Personal")</li>
		</ul>
	</div>
</nav>
