@using Common.Tools
@using Inforoom2.Models
@using NPOI.POIFS.FileSystem
@using NPOI.SS.Formula.Functions
@{
	ViewBag.Title = "Личный кабинет: Профиль";
	PhysicalClient client = ViewBag.CurrentClient.PhysicalClient;
    var banner = (Banner) ViewBag.BannerForPage;
	var urlPath = (string)ViewBag.pathFromConfigURL;
    var appeals = client.Client.ClientAppealsShown().Where(s => s.Date.AddDays(-7).Date <= SystemTime.Now().Date).Take(5);
}
<h2 class="heading">@ViewBag.Title</h2>
@{ Html.RenderPartial("Menu"); }
<div class="profiles height">
	<div class="number">
		<div class="column">Номер счета :</div>
		<div class="shelf profilenomber">@client.Client.Id.ToString("D5")</div>
	</div>
	<div class="line">
		<div class="column-fio">Ф.И.О :</div>
		<div class="shelf-fio">@Html.DisplayFor(c => client.FullName)</div>
		<div class="pen"></div>
	</div>
	<div class="line">
		<div class="column">Тариф :</div>
		<div class="shelf">@Html.DisplayFor(c => client.Plan.Name)</div>
	</div> 
	<div class="line">
		<div class="column">Скидка :</div>
		<div class="shelf">@Html.DisplayFor(c => client.Client.Discount)% @Html.Raw(client.Plan.IgnoreDiscount ? "<span class='discountComment'>(по текущему тарифу не применяется)</span>" : "")</div>
	</div>
	@if (client.PhoneNumber != string.Empty) {
		<div class="line">
			<div class="column">Номер телефона :</div>
			<div class="shelf">@Html.DisplayFor(c => client.PhoneNumber)</div>
			<div class="pen"></div>
		</div>
	}
	@if (client.Email != string.Empty) {
		<div class="line">
			<div class="column">Электронная почта :</div>
			<div class="shelf">@Html.DisplayFor(c => client.Email)</div>
			<div class="pen"></div>
		</div>
	}
	<div class="line">
		<div class="column">Почта уведомлений :</div>
		@if (!string.IsNullOrEmpty(client.GetClientNotificationEmail().ContactString))
		{
			<div class="shelf">
				<a class="red light" href="@Url.Action("Notifications")">@client.GetClientNotificationEmail().ContactString</a>
			</div>
		}
		else
		{
			<div class="shelf">
				<a class="red light" href="@Url.Action("Notifications")">Задать email для уведомлений</a>
			</div>
		}
		<div class="pen"></div>
	</div>
</div>
<div class="actions">
    @if (banner != null) {
    <a href="@banner.Url">
        <div class="action"><img src="@urlPath@banner.ImagePath">
        </div></a>
     <div class="actiontext">
        <a href="@banner.Url">
            <h3>@banner.Name</h3>
        </a>
        <p>
        </p>
    </div>
    }
</div>
@if (appeals.Count() > 0)
{
    <div class="right-block">
        <div class="name-table">Уведомления</div>

        <table class="cost">
            <tbody>
            @foreach (var appeal in appeals) {
                <tr class="menucost">
                    <td class="description" style="width: 74px; color: #a71a23;">@appeal.Date.ToShortDateString()</td>
                    <td class="description" style="width: 545px;">@appeal.Message</td>
                </tr>
            }</tbody>
        </table>
    </div>
}

@if (client.Client.Status.Type == StatusType.NoWorked) {
	var unlockPrice = client.Client.GetUnlockPrice();
	<div class="noworked_client">
		@if (client.Client.Payments.Count == 0) {
			<span>Для начала работы внесите первый платеж @client.Plan.Price.ToString("F2") руб.</span>
		}
		else if (unlockPrice > 0) {
			<span>Ваш лицевой счет заблокирован за неуплату, для разблокировки необходимо внести @unlockPrice.ToString("F2") руб.</span>
		}
	</div>
}
<div class="right-block">
	@if (false) {
		<div class="paragraph">
			<b>Получить плейлист для iptv каналов можно <a class="shelf" href="@Url.Action("TvLink")">тут</a></b>
		</div>
	}
	@{ Html.RenderPartial("ActiveServices"); }
</div>
