@using Inforoom2.Models
@using Inforoom2.Models.Services

@{
	Client client = ViewBag.Client;
	ViewBag.Title = "Личный кабинет: Услуги";
	IList<Service> availableServices = ViewBag.AvailableServices;
	IList<ClientService> clientServices = ViewBag.ClientServices;
}


<h2 class="heading">@ViewBag.Title</h2>
<div class="right-block">
	@{ Html.RenderPartial("ActiveServices"); }
	<div class="name-table">Все услуги</div>
	<table class="cost all">
		<tr class="menucost">
			<td class="namemenu"><div class="namemenubg"></div>Услуга</td>
			<td class="namemenu description"><div class="namemenubg"></div>Описание</td>
			<td class="namemenu price"><div class="pracebg"></div>Стоимость</td>
			<td class="namemenu"><div class="namemenubg"></div>Срок действия</td>
			<td class="namemenu tr">Действие</td>
		</tr>
			
		@foreach (var service in availableServices) {
			<tr class="menufee">
				<td class="disposal">
					@Html.HiddenFor(modelItem => service.Id)
					@Html.DisplayFor(modelItem => service.Name)
				</td>
				<td class="description td">
					@Html.DisplayFor(modelItem => service.Description)
					@if (service.GetType().Name == "DeferredPayment" && !client.HasActiveService(service) && !service.IsActivableFor(client)) {
						var serviceTime = client.TimeToServiceActivation;
						<div>Услуга станет доступна через
							@if (serviceTime.Days > 0) {
								<div> @serviceTime.Days
									@((serviceTime.Days%20 == 1) ? " день." : ((serviceTime.Days%20 >= 5) ? " дней." : " дня."))
								</div>
							} else {
								<div>
									@if (serviceTime.Hours > 0) {
										@(serviceTime.Hours + " ч.")
									}
									@(serviceTime.Minutes + " мин.")
								</div>
							}
						</div>
					}
				</td>
				<td class="price tr">
					@Html.DisplayFor(modelItem => service.Price)
				</td>
				<td></td>
				<td>
					@if (client.CanUseService(service)) {
						switch (service.GetType().Name) {
							case "BlockAccountService":
								@Html.ActionLink("Подключить", "BlockAccount", "Service", null, new { @class = "connectfee" })

								break;
							case "DeferredPayment":
								@Html.ActionLink("Подключить", "DeferredPayment", "Service", null, new { @class = "connectfee" })
								break;
						}
					}
					else {
							<div class="paragraph">Не доступно</div>
					}
				</td>
			</tr>
		}
	</table>

	@{ Html.RenderPartial("Menu"); }
</div>