@using Inforoom2.Helpers
@using Inforoom2.Models
@using Inforoom2.Models.Services

@{
	Client client = ViewBag.Client;
	ViewBag.Title = "Личный кабинет: Услуги";
	IList<Service> availableServices = ViewBag.AvailableServices;
	IList<ClientService> clientServices = ViewBag.ClientServices;
	var serviceIsAccepted = client.Disabled && client.Balance <= 0 && !client.HasActiveService<BlockAccountService>() 
			&& !client.HasActiveService<DeferredPayment>() && client.AutoUnblocked;
}


<h2 class="heading">@ViewBag.Title</h2>
<div class="right-block">
	@{ Html.RenderPartial("ActiveServices"); }
	<div class="name-table">Все услуги</div>
	<table class="cost all">
		<tr class="menucost">
			<td class="namemenu"><div class="namemenubg"></div>Услуга</td>
			<td class="namemenu description"><div class="namemenubg"></div>Описание</td>
			<td class="namemenu price"><div class="pracebg"></div>Стоимость</td>
			<td class="namemenu"><div class="namemenubg"></div>Срок действия</td>
			<td class="namemenu tr">Действие</td>
		</tr>
			
		@foreach (var service in availableServices) {
			<tr class="menufee">
				<td class="disposal">
					@Html.HiddenFor(modelItem => service.Id)
					@Html.DisplayFor(modelItem => service.Name)
				</td>
				<td class="description td">
					@Html.DisplayFor(modelItem => service.Description)
					@if (service.GetType().Name == "DeferredPayment" && serviceIsAccepted && !client.ServiceAcceptedInThisTime(service)) {
						<div>
							Услуга станет доступна через
							<br/> @StringHepler.ShowTimeLeft(client.TimeToServiceActivation)
						</div>
					}
				</td>
				<td class="price tr">
					@Html.DisplayFor(modelItem => service.Price)
				</td>
				<td></td>
				<td>
					@if (client.CanUseService(service)) {
						switch (service.GetType().Name) {
							case "BlockAccountService":
								@Html.ActionLink("Подключить", "BlockAccount", "Service", null, new { @class = "connectfee" })

								break;
							case "DeferredPayment":
								@Html.ActionLink("Подключить", "DeferredPayment", "Service", null, new { @class = "connectfee" })
								break;
						}
					}
					else {
							<div class="paragraph">Не доступно</div>
					}
				</td>
			</tr>
		}
	</table>

	@{ Html.RenderPartial("Menu"); }
</div>