@using Inforoom2.Models
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/FaqController.js")"></script>}
@{
	ViewBag.Title = "Index";
	Question newQuestion = ViewBag.NewQuestion;
	IList<Question> questions = ViewBag.Questions;
}

<h2>FAQ</h2>

@*<div style="width:1000px; height:200px; margin:0px auto; border:1px gainsboro solid">
	@{var style = ViewBag.ShowQuestionForm != null ? "display:none" : "";}
		<button class="ShowQuestionForm" style="@style">Задать вопрос</button>
	@{ style = ViewBag.ShowQuestionForm == null ? "display:none" : "";}
	<div class="QuestionForm" style="@style" >
		<button class="HideQuestionForm">hide</button>
		@using (@Html.BeginForm("Create","Faq",FormMethod.Post))
		{
			<div>
				<span>Email</span>
				@Html.TextBoxFor(model => newQuestion.Email)
				@ViewBag.Validation.GetError(newQuestion,"Email","Почта указана неправильно")
			</div>
			<div>
				<span>Question</span>
				@Html.TextAreaFor(model => newQuestion.Text)
				@ViewBag.Validation.GetError(newQuestion,"Text","Сообщение не может быть пустым")
			</div>
			<input type="submit"  value="Отправить вопрос"/>
		}
	</div>
</div>*@

@foreach (var item in questions) {
	<div class="question">
		<div class="text">
			<span>@Html.DisplayFor(modelItem => item.Text)<button class="ShowAnswer">Показать ответ</button></span>
		</div>
		<div class="answer" style="display: none;">
			<span>@Html.DisplayFor(modelItem => item.Answer)</span>
		</div>
	</div>
}
