@using Inforoom2.Models
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/FaqController.js")"></script>}
@{
	ViewBag.Title = "Index";
	Ticket newTicket = ViewBag.NewTicket;
	IList<Question> questions = ViewBag.Questions;
}


   <div class="heading">ВОПРОСЫ И ОТВЕТЫ</div>
	    <div class="know hidden">
		<div class="ask">Задать вопрос:</div>
		<div class="turn">Развернуть
		    <div class="upward"></div>
		</div>
		<div class="networking">
		    <div>
			<div class="ties">Номер телефона : </div>
			<input class="entry">
		    </div>
		    <div>
			<div class="ties">Электронная почта : </div>
			<input class="entry">
		    </div>
		    <div>
			<div class="ties">Текст вопроса : </div>
			<textarea rows="6" cols="75"></textarea>
		    </div>
		    <input class="set" type="submit" value="Задать">
		</div>
	    </div>
<div class="problem">
	
	@foreach (var item in questions) {
		<div class="question"> @Html.DisplayFor(modelItem => item.Text)<div class="pointer"></div>
		<div class="answer hidden">
			<span>@Html.DisplayFor(modelItem => item.Answer)</span>
		</div>
	</div>
}
	
</div>

@*<div style="width:1000px; height:200px; margin:0px auto; border:1px gainsboro solid">
	@{var style = ViewBag.ShowQuestionForm != null ? "display:none" : "";}
		<button class="ShowQuestionForm" style="@style">Задать вопрос</button>
	@{ style = ViewBag.ShowQuestionForm == null ? "display:none" : "";}
	<div class="QuestionForm" style="@style" >
		<button class="HideQuestionForm">hide</button>
		@using (@Html.BeginForm("Create","Faq",FormMethod.Post))
		{
			<div>
				<span>Email</span>
				@Html.TextBoxFor(model => newTicket.Email)
				@ViewBag.Validation.GetError(newTicket,"Email","Почта указана неправильно")
			</div>
			<div>
				<span>Question</span>
				@Html.TextAreaFor(model => newTicket.Text)
				@ViewBag.Validation.GetError(newTicket,"Text","Сообщение не может быть пустым")
			</div>
			<input type="submit"  value="Отправить вопрос"/>
		}
	</div>
</div>

@foreach (var item in questions) {
	<div class="question">
		<div class="text">
			<span>@Html.DisplayFor(modelItem => item.Text)<button class="ShowAnswer">Показать ответ</button></span>
		</div>
		<div class="answer" style="display: none;">
			<span>@Html.DisplayFor(modelItem => item.Answer)</span>
		</div>
	</div>
}*@