@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/FaqController.js")"></script>}
@{
	ViewBag.Title = "Написать в техподдержку";
	Ticket ticket = ViewBag.NewTicket;
	IList<Question> questions = ViewBag.Questions;
	ValidationRunner validationRunner = ViewBag.Validation;
}

<div class="heading">@ViewBag.Title</div>
<div class="whiteblock">
		<div class="boy"></div>
		<div class="whiteblocktext">
			<p>Вы можете быть уверены — специалисты "Инфорум" ответят на Ваш звонок и окажут квалифицированную помощь.Служба техподдержки работает круглосуточно, без выходных. 
			</p>
			<p>Также вы можете заказать обратный звонок или позвонить по круглосуточному бесплатному номеру - <a href="">@ViewBag.RegionOfficePhoneNumber</a>
			</p>
			<p>Вы можете описать свою проблему при помощи формы, расположенной ниже. Наши специалисты ответят на ваши вопросы, прислав письмо на указанный адрес эл. почты.</p>

		</div>
	    </div>
		<div class="know">


<div class="networking">
	@using (@Html.BeginForm("TechSupport", "Faq", FormMethod.Post)) {
		<div>
			<div class="ties">Email : </div>
			@Html.ValidationEditor(validationRunner, ticket, "Email", new { @class = "entry" }, HtmlTag.input, HtmlType.text)
		</div>
		<div>
			<div class="ties">Текст вопроса : </div>
			@Html.ValidationEditor(validationRunner, ticket, "Text", null, HtmlTag.textarea, HtmlType.none)
		</div>
		<input type="submit" class="set"  value="Отправить вопрос"/>
	}
</div>
</div>
