@using Inforoom2.Models
@{
	NetworkNode NetworkNode = ViewBag.NetworkNode;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Создать узел связи";
}

<div class="panel panel-primary">
	<div class="panel-body">
		<div class="col-md-6">
			@using (@Html.BeginForm("CreateNetworkNode", "Switch", FormMethod.Post,new { @class = "form-horizontal form-groups-bordered" }))
			{
				<div class="form-group">
					<label class="col-sm-5 control-label" for="field-ta">Название</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(model => NetworkNode.Name,new {@class = "form-control"})
						@ViewBag.Validation.GetError(NetworkNode, "Name", "Название не может быть пустым")
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label" for="field-ta">
						<div>Виртуальная (не существует физически)</div>
						<div>Необходима для связывания адресов и коммутаторов</div>
					</label>
					<div class="col-sm-5">
						@Html.CheckBoxFor(model => NetworkNode.Virtual,new {@class = "form-control"})
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label" for="field-ta">Описание</label>
					<div class="col-sm-5">
						@Html.TextAreaFor(model => NetworkNode.Description,new {@class = "form-control"})
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-green" type="submit">Принять изменения</button>
				</div>
			}
		</div>
	</div>
</div>
<div class="form-group">
	<button class="btn btn-blue" onclick=" location.href = '@Url.Action("NetworkNodeList", "Switch")' ">Назад</button>
</div>
