@using System.Activities.Expressions
@using Inforoom2.Helpers
@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "Редактировать коммутатор";
	Layout = "~/Views/Shared/_Layout.cshtml";
	Switch Switch = ViewBag.Switch;
	List<NetworkNode> NetworkNodes = ViewBag.NetworkNodes;
	NetworkNode NetworkNode = ViewBag.NetworkNode ?? Switch.NetworkNode ?? new NetworkNode();
}
<div class="panel panel-primary">
	<div class="panel-body">
	<div class="col-md-6">
			@using (@Html.BeginForm("EditSwitch", "Switch", FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" }))
   {
				<div class="form-group">
					@Html.HiddenFor(model => Switch.Id)
					<label class="col-sm-3 control-label" for="field-ta">Название</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(model => Switch.Name,new {@class = "form-control"})
						@ViewBag.Validation.GetError(Switch, "Name", "Имя не может быть пустым")
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="field-ta">Кол-во портов</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(model => Switch.PortCount,new {@class = "form-control"})
						@ViewBag.Validation.GetError(Switch, "PortCount")
					</div>
				</div>
					<div class="form-group">
					<label class="col-sm-3 control-label" for="field-ta">Узел связи</label>
					<div class="col-sm-5">
						@Html.DropDownListExtendedFor(model => Switch.NetworkNode,NetworkNodes.ToList(),i=>i.Name,null,new {@class = "form-control"}, NetworkNode.Id)
						@ViewBag.Validation.GetError(Switch, "PortCount")
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-green" type="submit">Принять изменения</button>
				</div>
			}
	</div>
	</div>
</div>

<div class="form-group">
</div>
<button class="btn btn-blue" onclick=" location.href = '@Url.Action("SwitchList", "Switch")' ">Назад</button>