@using System.Activities.Expressions
@using Inforoom2.Models

@{
	ViewBag.Title = "Коммутаторы";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<Switch> switches = ViewBag.Switches;
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
	<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2" >#</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Название</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Ip</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Mac</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Количество портов</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Узел связи</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Действия</th>
		</tr>
	</thead>
			@foreach (var item in switches)
			{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Id)</td>
				<td>@Html.DisplayFor(modelItem => item.Name)</td>
				<td>@(item.Ip != null ? item.Ip.ToString() : "Нет")</td>
				<td>@Html.DisplayFor(modelItem => item.Mac)</td>
				<td>@item.Endpoints.Count / @item.PortCount</td>
				<td>@(item.NetworkNode != null ? item.NetworkNode.Name : "Не прикреплен")</td>
				<td>
					<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("EditSwitch","Switch",new {id = item.Id})">
						<i class="entypo-vcard"></i>
						Изменить
					</a>
				</td>
			</tr>
			}
	<tbody>
	</tbody>
</table>
</div>
