@using Inforoom2.Models
@model dynamic
@{
	ViewBag.Title = "Список слайдов";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<Slide> slides = ViewBag.Slides;
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	


	<div class="col-sm-9">
		<div class="form-group"> 
			<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreateSlide", "Slide")">
				<i class="entypo-plus"></i>
				Добавить слайд
			</a>
		</div>
		<hr/>
		<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
			<thead>
				<tr role="row">
					<th class="sorting" tabindex="0" aria-controls="table-2">Изображение</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">Регион</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">Ссылка</th>
					<th class="sorting" tabindex="0" aria-controls="table-2">Опубликован</th>
					<th class="sorting col-sm-3" style="min-width: 270px;" tabindex="0" aria-controls="table-2">Действие</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in slides) {
					<tr role="row" class="odd">
						<td class ="col-sm-3 col-md-3"> <img src="@item.ImagePath" style="max-height: 90px;" /> </td>
						<td>@item.Region.Name</td>
						<td><a href="@item.Url">@item.Url</a></td>
						<td>@Html.CheckBoxFor(modelItem => item.Enabled, new { @disabled = "disabled", @checked = "checked" })</td>
						<td>
						<a class="entypo-up" href="@Url.Action("SlidePriorityIncerease", "Slide", new { id = item.Id })"></a>
						<a class="entypo-down" href="@Url.Action("SlidePriorityDecrease", "Slide", new { id = item.Id })"></a>
						<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("EditSlide", "Slide", new { id = item.Id })">
							<i class=" entypo-vcard">
							</i>
							Изменить
						</a>
						<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeleteSlide", "Slide", new { id = item.Id })">
							<i class="entypo-cancel-circled"></i>
							Удалить
						</a>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
