@using Inforoom2.Models

@{
	ViewBag.Title = "Вопросы и ответы";
	IList<Question> questions = ViewBag.Questions ?? new List<Question>();
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
<a class="btn btn-success btn-sm btn-icon icon-left" href = '@Url.Action("EditQuestion", "Question")'>
	<i class="entypo-plus"></i>
	Создать вопрос
</a>
	</div>
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
	<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2" >Номер</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Вопрос</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Ответ</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Опубликован</th>
			<th class="sorting" tabindex="0" aria-controls="table-2" >Действия</th>
		</tr>
	</thead>
			@foreach (var item in questions)
			{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Priority)</td>
				<td style="max-width: 300px;">@Html.DisplayFor(modelItem => item.Text)</td>
				<td style="max-width: 300px;">@Html.DisplayFor(modelItem => item.Answer)</td>
				<td>@Html.CheckBoxFor(modelItem => item.IsPublished)</td>
				<td>
					<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("EditQuestion","Question",new {questionId = item.Id})">
						<i class="entypo-vcard"></i>
						Изменить
					</a>
					<a class="entypo-up" href="@Url.Action("Move","Question",new {questionId = item.Id, direction = "Up" })"></a>
					<a class="entypo-down" href="@Url.Action("Move","Question",new {questionId = item.Id, direction = "Down" })"></a>
					<a class="entypo-cancel-circled" style="color:red" href="@Url.Action("DeleteQuestion","Question",new {questionId = item.Id })"></a>
								</td>
			</tr>
			}
	<tbody>
	</tbody>
</table>
</div>