@using Inforoom2.Models
@model List<Inforoom2.Models.PublicData>
    @{
        var modelLastId = Model.Count == 0 ? -1 : Model[Model.Count - 1].Id;
    }
<div class="pricesBox">
    @foreach (var item in Model) {
        var list = item.Items.OrderBy(s => s.PositionIndex).Select(s => s.ContextGet<ViewModelPublicDataPriceList>()).ToList();
        var listHasComment = list.Any(s => !string.IsNullOrEmpty(s.Comment));
        var index = 0;
        <table class="pricestable" style="margin-top: 30px; width: 100%;@(modelLastId != item.Id ? "" : "margin-bottom:20px;")">
            <thead>
            <tr class="pricesmenu">
                <th colspan="4" class="pricetitle">
                    @item.Name
                </th>
            </tr>
            <tr class="pricesmenu">
                <td class="pricetitle" style="width: 38px;">№ п/п</td>
                <td class="pricetitle" @(modelLastId != item.Id ? "" : "style=width:680px")>Наименование услуги</td>
                <td class="pricetitle" style="width: 99px;">Стоимость, руб.</td>
                @if (listHasComment) {
                    <td class="pricetitle">Комментарий</td>
                }
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var contextItem in list) {
                    <tr class="pricerecord">
                        <td class="pricecell">@(++index)</td>
                        <td class="pricecell">@contextItem.Name</td>
                        <td class="pricecell">@contextItem.Price</td>
                        @if (listHasComment) {
                            <td class="pricecell">@contextItem.Comment</td>
                        }
                    </tr>
                }
                index = 0;
            }
            </tbody>
        </table>
    }
</div>
