@using System.Activities.Statements
@using Inforoom2.Models
@model dynamic
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/HomeController.js")"></script>}
@{
	ViewBag.Title = "Home";
	IList<NewsBlock> news = ViewBag.News ?? new List<NewsBlock>();
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="offers">
	<div class="slider">
		<div class="content">
			<div class="longspace notext">
				<div class="offer">
					<img src="~/images/free.jpg"/>
				</div>
				<div class="offer">
					<img src="~/images/tv.jpg"/>
				</div>
				<div class="offer">
					<img src="~/images/maximum.jpg"/>
				</div>
				<div class="offer">
					<img src="~/images/biznes.jpg"/>
				</div>
			</div>
		</div>
		<ul class="controls">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
			<li class="stop">II</li>
		</ul>
	</div>
	<div class="main-offer">
		<img src="~/images/ogonek.jpg"/>
	</div>

</div>
<div class="find">
	<a href="/TestSpeed">
		<div class="speed">Протестировать скорость
			<div class="speedbg"></div>
		</div>
	</a>
	<a href="/IsMyHouseConnected">
		<div class="connection">Подключен ли мой дом?
			<div class="connectionbg"></div>
		</div>
	</a>
</div>
<div class="news">НОВОСТИ</div>
<div class="information">
	
	@foreach (var item in news) {
		<div class="text">
			<h3 class="links-header"><a href="@Url.Action("ViewNewsBlock", "Home", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a></h3>
			<p>@Html.DisplayFor(modelItem => item.CreationDate)</p>
			<div class="font">@Html.DisplayFor(modelItem => item.Preview)</div>
		</div>
	}
	
</div>