@using System.Activities.Statements
@using Inforoom2.Models
@model dynamic
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/HomeController.js")"></script>}
@{
	ViewBag.Title = "Home";
	IList<NewsBlock> news = ViewBag.News ?? new List<NewsBlock>();
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="offers">
	<div class="slider">
		<div class="content">
			<div class="longspace notext">
				<div class="offer">
					<img src="~/images/slider1.png"/>
				</div>
				<div class="offer">
					<img src="~/images/slider1.png"/>
				</div>
				<div class="offer">
					<img src="~/images/slider1.png"/>
				</div>
				<div class="offer">
					<img src="~/images/slider1.png"/>
				</div>
				<div class="offer">
					<img src="~/images/slider1.png"/>
				</div>
			</div>
		</div>
		<ul class="controls">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li class="stop">II</li>
		</ul>
	</div>
	<div class="main-offer">
		<img src="~/images/offer.png"/>
	</div>

</div>
<div class="find">
	<a href="/TestSpeed">
		<div class="speed">Протестировать скорость
			<div class="speedbg"></div>
		</div>
	</a>
	<a href="/IsConnected">
		<div class="connection">Подключен ли мой дом?
			<div class="connectionbg"></div>
		</div>
	</a>
</div>
<div class="news">НОВОСТИ</div>
<div class="information">
	
	@foreach (var item in news) {
		<div class="text">
			<h1>@Html.DisplayFor(modelItem => item.Title)</h1>
			<p>@Html.DisplayFor(modelItem => item.CreationDate)</p>
			<h2>@Html.DisplayFor(modelItem => item.Preview)</h2>
			
			@if (!string.IsNullOrEmpty(item.Body)) {
				if (string.IsNullOrEmpty(item.Url)) {
					<span><button class="ViewNewsBlock" onclick=" location.href = '@Url.Action("ViewNewsBlock", "Home", new { newsId = item.Id })' ">Подробнее</button></span>
				}
				else {
					<span><button class="ViewNewsBlock" onclick=" location.href = '@item.Url' " >Подробнее</button></span>
				}
			}
		
		</div>
	}
	
</div>