@model dynamic
@section JavaScript{
	<script type="text/javascript" src="@Url.Content("~/Scripts/HomeController.js")"></script>}
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Inforoom2.Models
@{
	Plan plan = ViewBag.Plan ?? new Plan { Name = "" };
	Client client = ViewBag.Client;
	var action = client == null ? "RequestFromTariff" : "Plans";
	var controller = client == null ? "ClientRequest" : "Personal";
	var divClass = plan.Name == "" ? "typehit" : "";
	var inputClass = plan.Name == "" ? "button" : "";
	List<Plan> plans = ViewBag.Plans;
	PlanHtmlContent planHtml = ViewBag.ContentHtml;
}
<div class="plans">
	<div class="heading">ТАРИФНЫЕ ПЛАНЫ</div>
	<div class="variants">
		@for (int i = 0; i < plans.Count; i++) {
			var featuresLines = @plans[i].Features == null ? new string[0] : @plans[i].Features.Split('\n');
			<div class="type @(plan == plans[i] ? "typehit" : "")">
				<h1>@plans[i].Name</h1>
				<h2>@plans[i].Speed Мбит/с</h2>
				@for (int j = 0; j < featuresLines.Length; j++) {
					@Html.Raw(featuresLines[j])
				}
				<p>
					@Html.Raw(@plans[i].Description)
				</p>
				<h3>
					@(!string.IsNullOrEmpty(plans[i].TextPrice) ? Html.Raw(plans[i].TextPrice)
						  : Html.Raw(@plans[i].Price + "<span>Р.</span>/мес. "))
				</h3>
				@using (Html.BeginForm(action, controller, new { id = plans[i].Id }, FormMethod.Post, null)) {
					<input class="button plug" type="submit" value="Подключить">
				}
			</div>
		}
	</div>
	<div class="pricelistlink">
		<a class="links-header" href="/Home/PricesList">Прайс-лист дополнительных услуг</a>
	</div>
	<div class="details">
		@(planHtml != null ? Html.Raw(planHtml.Content) : Html.Raw("")) 
	</div>
</div>