
@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
	string username = ViewBag.Username;
	string password = ViewBag.Password;
	
}

<h2>Login</h2>


@using (Html.BeginForm()) {
		@Html.ValidationSummary(true)
		<fieldset>
			<legend>Enter user credentials</legend>

			<div>
				@Html.EditorFor(model => username)
				@Html.ValidationMessageFor(model => username)
			</div>
			
			<div>
				@Html.PasswordFor(model =>password)
				@Html.ValidationMessageFor(model => password)
			</div>

			<p>
				<input type="submit" value="Войти" />
			</p>
		</fieldset>
	}
