@using Inforoom2.Models

@{
	Client client = ViewBag.Client;
	List<RentalHardware> rentalHardwareList = ViewBag.RentalHardwareList;
	ViewBag.Title = String.Format("Арендованное оборудование клиента: {0} ({1}) ",client.Fullname, client.Id);
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	var clientHasHardware = client.RentalHardwareList.Any(ch => ch.IsActive);
}
<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (Html.BeginForm("UpdateHardwareRent", "HardwareRent", new {@id = client.Id}, FormMethod.Post, new {@id = "HardwareListForm"}))
		{
			<table id="HardwareTable" class="table table-bordered table-striped datatable dataTable no-footer" aria-describedby="HardwareTable_info" role="grid">
				<thead>
					<tr>
						<th>Тип</th>
						@if (clientHasHardware) {
							<th>Модель, серийный номер</th>
							<th>Дата выдачи</th>
							<th>Данные о состоянии</th>
							<th>Комментарий</th>
						}
						<th>Действие</th>
					</tr>
				</thead>
				<tbody>
					@for (var i = 0; i < rentalHardwareList.Count; i++) {
						var rentalHardware = rentalHardwareList[i];
						var trClass = i%2 == 1 ? "odd" : "even";
						var btnClass = client.HardwareIsRented(rentalHardware) ? "btn-red" : "btn-green";
						var btnCaption = client.HardwareIsRented(rentalHardware) ? "Снять с аренды" : "Добавить в аренду";
						var thisHw = client.GetActiveRentalHardware(rentalHardware);

						<tr class="@trClass" role="row">
							<td><b>@rentalHardware.Name</b></td>
							@if (clientHasHardware) {
								if (thisHw != null){
									<td>@thisHw.Model.Name, @thisHw.Model.SerialNumber</td>
									<td>@(thisHw.GiveDate.HasValue ? thisHw.GiveDate.Value.ToShortDateString() : "")</td>
									<td>@(thisHw.WasUsed ? "б/у" : "новый"), @(thisHw.IsCompleteSet ? "полный комплект" : "неполный комплект")</td>
									<td>@thisHw.Comment</td>
								} else {
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								}
							}
							<td><button class="btn @btnClass" type="submit" name="hardware" value="@rentalHardware.Id">@btnCaption</button></td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>
