@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models

@{
	ViewBag.Title = "Услуга \"Аренда оборудования\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ClientRentalHardware clientRentalHardware = ViewBag.ClientHardware;
	var date = (clientRentalHardware.GiveDate.HasValue) ? clientRentalHardware.GiveDate.Value.ToShortDateString() : "";
	ValidationRunner validationRunner = ViewBag.Validation;
}

<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (Html.BeginForm("SaveHwRentService", "HardwareRent", null, FormMethod.Post, new { @id = "AddHardwareForm", @class = "form-horizontal form-groups-bordered"}))
		{
			<div class="form-group">
				<label class="col-sm-2 control-label">Тип оборудования:</label>
				<div class = "col-sm-4">
					@Html.DisplayFor(hwt => clientRentalHardware.Hardware.Name, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Модель:</label>
				<div class = "col-sm-4">
					@Html.ValidationEditor(validationRunner, clientRentalHardware, "ModelName", new { @class = "form-control" }, HtmlTag.input, HtmlType.text)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Серийный номер:</label>
				<div class = "col-sm-4">
					@Html.ValidationEditor(validationRunner, clientRentalHardware, "SerialNumber", new { @class = "form-control" }, HtmlTag.input, HtmlType.text)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Дата выдачи:</label>
				<div class = "col-sm-4">
					@Html.ValidationEditor(validationRunner, clientRentalHardware, "GiveDate", new { @value = date }, HtmlTag.date, HtmlType.none)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Бывшее в употреблении:</label>
				<div class = "col-sm-4">
					@Html.CheckBoxFor(k => clientRentalHardware.WasUsed)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Полный комплект:</label>
				<div class = "col-sm-4">
					@Html.CheckBoxFor(k => clientRentalHardware.IsCompleteSet)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Комментарий:</label>
				<div class = "col-sm-4">
					@Html.ValidationEditor(validationRunner, clientRentalHardware, "Comment", new { @class = "form-control" }, HtmlTag.input, HtmlType.text)
				</div>
			</div>
			<div class="form-group">
				@Html.HiddenFor(k => clientRentalHardware.Client.Id)
				@Html.HiddenFor(k => clientRentalHardware.Hardware.Id)
				<input class="btn btn-green" type="submit" value="Активировать">
			</div>
		}
	</div>
</div>
