@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models

@{
	ClientRentalHardware clientRentalHardware = ViewBag.ClientHardware;
	ViewBag.Title = "Услуга \"Аренда оборудования\" - " + clientRentalHardware.Id;
	Layout = "~/Views/Shared/_Layout.cshtml";
	string clientName = ViewBag.ClientName;
	var date = (clientRentalHardware.GiveDate.HasValue) ? clientRentalHardware.GiveDate.Value.ToShortDateString() : "";
	ValidationRunner validationRunner = ViewBag.Validation;
	var currentActionForState = clientRentalHardware.IsActive ? "UpdateHardwareRent" : "DiactivatedHardwareUpdate";
}

<script src="~/assets/js/checkAllCheckBoxes.js"></script>

<div class="form-group">
	<button class="btn btn-blue" onclick=" location.href = '@Url.Action("HardwareList", new { @id = clientRentalHardware.Client.Id })' ">Назад</button>
</div>
<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (Html.BeginForm(currentActionForState, "HardwareRent", null, FormMethod.Post, new { @id = "AddHardwareForm", @class = "form-horizontal form-groups-bordered" })) {
			@Html.HiddenFor(k => clientRentalHardware.Id)
			@Html.HiddenFor(k => clientRentalHardware.Hardware.Id)
			@Html.HiddenFor(k => clientRentalHardware.Client.Id)
			<div class="form-group">
				<label class="col-sm-2 control-label">Клиент:</label>
				<div class="col-sm-4">
					@Html.DisplayFor(hwt => clientRentalHardware.Client.Fullname, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Тип оборудования:</label>
				<div class="col-sm-4">
					@Html.DisplayFor(hwt => clientRentalHardware.Hardware.Name, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Модель:</label>
				<div class="col-sm-4">
					@if (clientRentalHardware.IsActive) {
						@Html.ValidationEditor(validationRunner, clientRentalHardware, "Name", new { @class = "form-control" }, HtmlTag.input, HtmlType.text)
					}
					else {
						@Html.DisplayFor(hwt => clientRentalHardware.Name, new { @class = "form-control" })
					}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Серийный номер:</label>
				<div class="col-sm-4">
					@if (clientRentalHardware.IsActive) {
						@Html.ValidationEditor(validationRunner, clientRentalHardware, "SerialNumber", new { @class = "form-control" }, HtmlTag.input, HtmlType.text)
					}
					else {
						@Html.DisplayFor(hwt => clientRentalHardware.SerialNumber, new { @class = "form-control" })
					}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Дата выдачи:</label>
				<div class="col-sm-4">
					@if (clientRentalHardware.IsActive) {
						@Html.TextBoxFor(o => clientRentalHardware.GiveDate, clientRentalHardware.GiveDate.GetValueOrDefault().ToString("dd.MM.yyyy"), new {@data_format = "dd.mm.yyyy", @class = "form-control", @data_provide = "datepicker-inline"})
						@ViewBag.Validation.GetError(clientRentalHardware, "GiveDate")
					}
					else {
						@(clientRentalHardware.GiveDate.HasValue ? clientRentalHardware.GiveDate.Value.ToString("dd.MM.yyyy") : "")
					}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label c-pointer" for="WasUsed">Бывшее в употреблении:</label>
				<div class="col-sm-4">
					@if (clientRentalHardware.IsActive) {
						@Html.CheckBoxFor(k => clientRentalHardware.WasUsed, new { @id = "WasUsed" })
					}
					else {
						@(clientRentalHardware.WasUsed ? "да" : "нет")
					}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label c-pointer" onclick="CheckAllCheckBoxesWithPartId(this)">В комплекте отсуствуют:</label>
				<div class="col-sm-4">
					@for (int i = 0; i < clientRentalHardware.ClientHardwareParts.Count; i++) {
						<p>
							@Html.HiddenFor(k => clientRentalHardware.ClientHardwareParts[i].Id)
							@Html.HiddenFor(k => clientRentalHardware.Id, new { @Name = "clientRentalHardware.ClientHardwareParts[" + i + "].ClientRentalHardware.Id" })
							@Html.HiddenFor(k => clientRentalHardware.ClientHardwareParts[i].Part.Id)
							@if (!clientRentalHardware.ClientHardwareParts[i].NotGiven) {
								@Html.CheckBoxFor(k => clientRentalHardware.ClientHardwareParts[i].Absent, new {@id = "part" + clientRentalHardware.ClientHardwareParts[i].Part.Id})
							}
							else {
								<span>-</span>
							}
							<label class="control-label @(clientRentalHardware.ClientHardwareParts[i].NotGiven?"":"c-pointer")" for="part@(clientRentalHardware.ClientHardwareParts[i].Part.Id)">@clientRentalHardware.ClientHardwareParts[i].Part.Name @(clientRentalHardware.ClientHardwareParts[i].NotGiven?" (не выдано)":"")</label>
						</p>
					}
				</div>
			</div>
			if (clientRentalHardware.IsActive) {
				<div class="form-group">
					<label class="col-sm-2 control-label">Комментарий:</label>
					<div class="col-sm-4">
						@Html.ValidationEditor(validationRunner, clientRentalHardware, "Comment", new { @class = "form-control" }, HtmlTag.input, HtmlType.text)
					</div>
				</div>
			}
			else {
				<div class="form-group">
					<label class="col-sm-2 control-label">Комментарий:</label>
					<div class="col-sm-4">
						@Html.DisplayFor(hwt => clientRentalHardware.Comment, new { @class = "form-control" }) 
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Комментарий к деактивации:</label>
					<div class="col-sm-4"> 
						@Html.ValidationEditor(validationRunner, clientRentalHardware, "DeactivateComment", new {@class = "form-control" }, HtmlTag.input, HtmlType.text)
					</div>
				</div>
			}
			<div class="form-group"> 
				<input class="btn btn-green" type="submit" value="Принять изменения"> 
			</div>
		}
		@if (clientRentalHardware.IsActive) {
			<div style="border-top: 1px solid #B7B7B7;margin-top: 64px;"></div>
			using (Html.BeginForm("DiactivateHardwareRent", "HardwareRent", null, FormMethod.Post, new { @id = "DiactivateHardwareRent", @class = "form-horizontal form-groups-bordered" })) {
				<hr/>
				<h3>Деактивация</h3>
				<div class="form-group">
					<label class="col-sm-2 control-label">Комментарий к деактивации:</label>
					<div class="col-sm-4">
						@Html.HiddenFor(k => clientRentalHardware.Hardware.Id, new { @Name = "hardware" })
						@Html.HiddenFor(k => clientRentalHardware.Client.Id, new { @Name = "id" })
						@Html.ValidationEditor(validationRunner, clientRentalHardware, "DeactivateComment", new { @Name = "deactivateReason", @class = "form-control" }, HtmlTag.input, HtmlType.text)
					</div>
				</div>
				<div class="form-group">
					<input class="btn btn-red" type="submit" value="Деактивировать">
				</div>
			}
		}
	
	</div>
</div>
<div class="form-group">
	<button class="btn btn-blue" onclick=" location.href = '@Url.Action("HardwareList", new { @id = clientRentalHardware.Client.Id })' ">Назад</button>
</div>
